<!--店铺详情界面-->
<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     right-css="header_title fs_4"
     title="店铺详情">
 </div>
<ion-view view-title="店铺详情">
  <ion-content>
  <!--商品主图div   start-->
  	<div class="swiper-container" style="height:250px;overflow: hidden;" id="comdd_swiper">
	    <!-- Additional required wrapper -->
	    <div class="swiper-wrapper">
	        <div class="swiper-slide" ng-repeat="item in pData.mainImages">
	            <img ng-src="{{item|hostFilter}}" style="width:100%;height:auto;">
	        </div>
	    </div>
	    <div class="swiper-pagination"></div>
	</div> <!--商品主图div   end-->


  </ion-content>
</ion-view>