<style>
  
</style>


<!--访客流量-->
<!--<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="访客流量">
</div>-->

<ion-view >
    <ion-nav-buttons side="left">
        <div class="public_comment_header_bar_padding_left" ng-click="back()">
            <i class="icon head_left_back"></i>
        </div>
    </ion-nav-buttons>
    <ion-nav-title>
        <div class="fs_4">访客流量</div>
    </ion-nav-title>
    
    
  <ion-content>
    <div class="list">
         <div class="list" item="false" aslist rcode="uoou.visitors.query" 
             temp-url="app_plugins/uoou/common/visitor_flow/views/visitor_item.html" 
             list-events="pData.list_events" params="{{pData.params}}">
        </div>
    </div>
      <div footerpadding></div>
  </ion-content>
</ion-view>
