<div class="bar bar-heade bar-light"
		nav-bar
		left-css="head_left_back"
		title-css="header_title fs_4"
		right-css="header_title fs_4"
		title="{{pageData.title}}">
</div>
<ion-view  >
  	<ion-content style="padding-top:45px;height: 100%;">
  		<div style="padding:0px;margin:0px;" item="false" aslist rcode="triph.com.mall.search.GetSearchInfo" temp-url="app_plugins/common/search/views/search_list_item.html" list-events="pageData.list_events" params="{{pageData.params}}" repeatdata="pageData.repeatdata"></div>
  	</ion-content>
</ion-view>