<!-- 提现清单 -->
<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="组织转账审核">
</div>
<ion-view>
    <ion-content>

        <!--<label class="item item-input" >-->
        <!--<span style="width:10%;" class="input-label">开始时间:</span>-->
        <!--<input style="padding-top:0px;" ng-model="pageData.start_date" type="date">-->
        <!--<span style="width:10%;" class="input-label">结束时间:</span>-->
        <!--<input style="padding-top:0px;" ng-model="pageData.end_date" type="date">-->
        <!--</label>-->

        <div class="row item" style="color: #FFFFFF;">
            <div class="col col-30">
                <span class="input-label">转账时间:</span>
            </div>
            <div class="col col-30" style="background: #FFFFFF;">
                <input type="date" ng-model="pageData.start_date" style="padding-top:0px;background: #FFFFFF;display: grid;display: flex;display:inline-flex;display:inline-gird;">
            </div>
            <div class="col col-10">
                <span class="input-label">至</span>
            </div>
            <div class="col col-30" style="background: #FFFFFF;">
                <input type="date" ng-model="pageData.end_date" style="padding-top:0px;background: #FFFFFF;display: grid;display: flex;display:inline-flex;display:inline-gird;">
            </div>
        </div>
        <div class="pt-10"></div>
        <div class="row">
            <div class="col">
                <button   ng-click="query()"
                          class="button button_with  myinfoborder-radius h-43 agriculture_project_title"
                          >
                    查询
                </button>

            </div>
        </div>
        <div class="list">
            <!-- 提现 -->
            <div item="false"  style="padding:0px;margin:0px;" aslist rcode="lxny.transferaudit.transferlist" temp-url="frame/member/organize_transfer_audit/views/transfer_item.html" params="{{pageData.params}}" list-events="pageData.listEvents">
            </div>
        </div>
        <div footerpadding></div>
    </ion-content>

</ion-view>
