<!-- 申请资助 -->
<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="申请资助">
</div> 
<ion-view view-title="申请资助">
  <ion-content>
    <!-- <ion-list class="disable-user-behavior"> -->
      <!-- <div class="list"> -->
        <!-- <ion-item type="item-text-wrap" class="item" style="padding:0px;"> -->
          <label class="item item-input h-46">
            <span class="input-label-input">社员姓名:</span>
            <span class="fs-12" ng-bind="pageData.membername"></span>
          </label>

          <label class="item item-input h-46">
            <span class="input-label">资助金额:</span>
            <input type="number" ng-model="pageData.amountSubsidy" placeholder="请输入资助金额（必填）">
          </label>

          <label class="item item-input h-46">
            <span class="input-label">身份证号:</span>
            <input type="text" ng-model="pageData.cardNumber" placeholder="请输入身份证号（必填）">
          </label>

          <label class="item item-input h-46">
            <span class="input-label">联系号码:</span>
            <input type="number" ng-model="pageData.phone" string-to-number placeholder="请输入联系号码（必填）">
          </label>

          <label class="item item-input item-select">
        	<div class="input-label">性别:</div>
        	<select ng-model="pageData.gender"  ng-options="m.value as m.name for m in pageData.genderEnum">
          	<option value="">请选择</option>
        	</select>
      	</label>

          <label class="item item-input h-46">
            <span class="input-label" style="width:15%;">邮箱:</span>
            <input type="email" ng-model="pageData.email" placeholder="请输入邮箱（必填）">
          </label>

          <label class="item item-input h-46">
            <span class="input-label" style="width:15%;">学校:</span>
            <input type="text" ng-model="pageData.school" placeholder="请输入学校（必填）">
          </label>

          <label class="item item-input h-46">
            <span class="input-label" style="width:15%;">住址:</span>
            <input type="text" ng-model="pageData.address" placeholder="请输入住址（必填）">
          </label>
        
          <label class="item item-input h-46">
            <span class="input-label" style="width:15%;">申请原因:</span>
            <textarea ng-model="pageData.reasons_remake" placeholder="请输入申请原因（必填）"></textarea>
          </label>
          <div class="bg-2 am-content pt-13 pb-13">
      		  <div><h3 class="cl-03 content-title" style="margin-bottom:0px;">{{pageData.title}}</h3></div>
    	  </div>
    	  <div class="diveline-2"></div>

		    <div class="bg-2 am-content pb-20">
		      <div ng-bind-html="pageData.detailed|imgFmt"></div>
		    </div>
        <div class="row" style="height:49px;">
          <div class="col">&nbsp;<a href="javaScript:void(0);" style="display:none;">&nbsp;</a></div>
        </div> 
        <!-- </ion-item> -->
      <!-- </div> -->
    <!-- </ion-list> -->
    <div footerpadding></div>
  </ion-content>
  <div class="bar bar-footer ios-margin-button">
  		<tr>
			<button ng-click="submit()" class="button button_with  myinfoborder-radius h-43" style="margin-right:10px;font-size:14px;">提交</button>
        </tr>
  </div>
</ion-view>