<a class="item item-box" ng-click="myApplyDetails(value.ID)">
      <h3 style="color:#010101;" ng-bind="value.MEMBERNAME"></h3>
      <table class="full-table fs-12 mt-12">
      	<tr class="full-w">
      		<td class="cl-02">
      			<span>申请金额:{{value.AMOUNT_OF_SUBSIDY|ptoy}}</span>元
      		</td>
      	</tr>
      </table>
      <table class="full-table fs-12 mt-12">
      	<tr class="full-w">
            <td class="cl-02">
                    申请原因:<span style="word-break: normal;white-space: pre-wrap;word-wrap: break-word;overflow: hidden;">{{value.REASONS_REMAKE}}</span>
            </td>
      	</tr>
      </table>
      <table class="full-table fs-12 mt-12">
      	<tr class="full-w">
      		<td class="cl-03 ">
      			<span>申请状态:{{value.STATUSNAME}}</span>
      		</td>
        	<td class="cl-02" style="text-align:right;">
                <span>申请资助时间:{{value.APPLYTIME}}</span>
            </td>
      	</tr>
      </table>
</a>