<a class="item item-box" ng-click="wishPlatform(value.TOMEMBERID,value.MEMBERNAME)">
      <h3 style="color:#010101;" ng-bind="value.MEMBERNAME"></h3>
      <table class="full-table fs-12 mt-12">
      	<tr class="full-w">
      		<td class="cl-02">
      			<span>{{value.AMOUNT_OF_SUBSIDY|ptoy}}</span>元
      		</td>
      	</tr>
      </table>
      
      <table class="full-table fs-12 mt-12">
      	<tr class="full-w">
      		<td class="cl-02 ">
      			<span>申请时间:{{value.APPLYTIME}}</span>
      		</td>
        	<td class="cl-02" style="text-align:right;">
                <span>资助时间:{{value.SUPPORTTIME}}</span>
            </td>
      	</tr>
      </table>
      <table class="full-table fs-12 mt-12">
      	<tr class="full-w">
      		<td class="cl-02">
      			申请原因:<span style="display: block;word-break: normal;white-space: pre-wrap;word-wrap: break-word;overflow: hidden;">{{value.REASONS_REMAKE}}</span>
      		</td>
      	</tr>
      </table>
      <table class="full-table fs-12 mt-12">
      	<tr class="full-w">
      		<td class="cl-02">
      			<span>大学生承诺许愿平台</span>
      		</td>
      	</tr>
      </table>
</a>