
<div class="bg-2 row row-wrap">
	<div style="height:240px;width:100%;padding:0px;background-image:url({{value.LISTIMGAGE|hostFilter}})" ng-click="toDetails(value.ID)">
		<div style="height:100%;padding:0px 13px 16px 13px;">
			<div style="height:70%;width:100%;">
				&nbsp;
			</div>
			<div style="max-height:20%;">
				<span class="cl-10" ng-bind="value.TITLE" ></span>
			</div>
			<div style="max-height:30%;">
				<span class="cl-10" ng-bind="value.ABSTRACT" ></span>
			</div>
		</div>
	</div>
    
</div>
<!-- <div class="row cl-10" style="position: fixed;margin-left: 10px;margin-top: -65px;">
    <div class="col fs-12" style="text-align:left;padding: 0px;">
      	<span ng-bind="value.TITLE" ></span>
    </div>
</div> -->