<style type="text/css">
/*套餐亮点样式*/
    .package{
        width: 100%;
        background-color: #0094FF;
        border: 0px solid #ddd;
        color: #ffffff;
        height: 33px;
        margin: 0px;
        padding: 0px;
    }
    /*预定须知*/
    .reserve_notice{
        width: 100%;
        border: 0px solid #ddd;
        color: #666666;
        height: 33px;
        background-color: #ffffff;
        margin: 0px;
        padding: 0px;
    }
    
</style>
<div class="bar bar-heade" style="background: transparent;height: 52px;color: #FFFFFF;">
    <div class="row" style="width:100%;padding:0px;padding-top:5px;padding-left:10px;">
        <div style="width:16%;text-align:left;" ng-click="goBack()">
            <img src="img/techan/techan_01.png" style="width: 20px;height: auto;">
        </div>
        <div class="cl-10"style="width:68%;">
        </div>
        <div style="width:8%;text-align:center;" ng-click="addCollection()">
            <img src="img/techan/techan_06.png" style="width: 20px;height: auto;">
        </div>
        <div style="width:8%;text-align:center;" ng-click="share()">
            <img src="img/techan/techan_07.png" style="width: 20px;height: auto;">
        </div>
    </div>
</div>
<div suspend-box></div>
<ion-content style="padding:0px;" delegate-handle="mainScroll">
    <div class="row" style="height: 239px;padding: 0px;" ng-click="tuji()">
        <div class="col" style="height: 239px;padding:0px;">
            <img ng-src="{{pageData.mainimage | hostFilter:'ImageJSON'}}" style="width: 100%;height:100%;" />
        </div>
    </div>
    <!-- 图集 -->
    <div style="text-align: right;height:34px;margin-top: -34px;" ng-click="tuji()">
        <img src="img/atlas.png" style="width:34px;height: 34px;margin-right: 23px;margin-top: -12px;"/>
        <div style="position: relative;margin-top: -23px;margin-right: 34px;">
            <span class="fs-12" style="color: #ffffff;"><span  ng-bind="pageData.comImageNum"></span></span>
        </div>
    </div>
<!--    <div class="row" style="height: 239px;padding: 0px;" ng-click="tuji()">
        <img ng-src="{{pageData.mainimage| hostFilter:'ImageJSON'}}" style="width: 100%;height: 100%;" />
    </div>
    <div style="text-align: right;height:34px;margin-top: -34px;" ng-click="tuji()">
        <img src="img/atlas.png" style="width:34px;height: 34px;margin-right: 23px;margin-top: -12px;"/>
        <div style="position: relative;margin-top: -23px;margin-right: 34px;">
            <span class="fs-12" style="color: #ffffff;"><span  ng-bind="pageData.comImageNum"></span></span>
        </div>
    </div>-->
    <div class="row bg-2" style="padding: 12px 0 15px 20px;">
    	<span class="pl-7 fs-13 cl-12 microsoft_yahei" ng-bind="pageData.mallInfo.NAME"></span>
    </div>
    <div class="row bg-2" style="padding:0 11px 14px 20px;">
    	<div class="fs-12 cl-18" style="width:40%;padding-left: 0px;">
        	<span ng-if="pageData.mallInfo.THEM" ng-bind="pageData.mallInfo.ZTNAME" style=" margin-right: 35px;"></span>
        	<span ng-if="pageData.mallInfo.GROUP_LABEL" ng-bind="pageData.mallInfo.ZHNAME"></span>
        </div>
        <div style="width:60%;padding-left: 0px;text-align:right;">
        	<!-- <div class="row" style="padding:0px;padding-right: 11px;"> -->
        		<s style="padding:0px;padding-right: 5px;">
                    原价:￥<span  ng-bind="pageData.yuanjia|number:2"></span>
                </s>
                <span style="padding:0px;" ng-if="pageData.choiceMoney==0">
                    <span class="fs-18 cl-10 cl-20" style="padding:0px;" ng-if="pageData.mallInfo.DISCOUNT==0||pageData.mallInfo.DISCOUNT==1">
                    ￥<span ng-bind="pageData.mallInfo.PRICE|number:2"></span>
                    </span>
                    <span class="fs-18 cl-10 cl-20" style="padding:0px;" ng-if="pageData.mallInfo.DISCOUNT<1&&pageData.mallInfo.DISCOUNT>0">
                        ￥<span ng-bind="pageData.mallInfo.PRICE*pageData.mallInfo.DISCOUNT|number:2"></span>
                    </span>
                    <span class="fs-18 cl-10 cl-20" style="padding:0px;" ng-if="pageData.mallInfo.DISCOUNT>1">
                        ￥<span ng-bind="pageData.mallInfo.PRICE-pageData.mallInfo.DISCOUNT|number:2"></span>
                    </span>
                    <span class="fs-16 cl-10 cl-20" ng-if="pageData.choiceMoney!=0">
                        ￥<span ng-bind="pageData.choiceMoney|number:2"></span>
                    </span>
                </span>
                <span class="fs-16 cl-10 cl-20" ng-if="pageData.choiceMoney!=0">
                    ￥<span ng-bind="pageData.choiceMoney|number:2"></span>
                </span>
<!--                 <div class="col" style="padding:0px;" ng-if="pageData.choiceMoney!=0">
                    
                </div> -->
        	<!-- </div> -->
        </div>
    </div>
    <div class="split-line-4"></div>
    <div class="row bg-2" style="margin:0;padding:0;height: 34px;line-height: 34px;padding-left:13px;" ng-click="comment(pageData.mallInfo)">
    	<div style="width:8%;height: 31px;text-align: center;line-height: 39px;">
			<img src="img/techan/techan_09.png" style="width:19px;" />
		</div>
		<div style="width:45%;">
			<span class="cl-19" as-start model="s" style="display: inline-block;padding-left: 7px;" value="{{pageData.mallInfo.PJPXDF|number:0}}"></span>
		 	<span class="fs-13 cl-11 microsoft_yahei pl-10" ng-bind="pageData.mallInfo.PJPXDF|number:0"></span>分
		</div>
		<div style="width:40%;text-align: right;">
			<span class="fs-13 cl-11 microsoft_yahei">{{pageData.mallInfo.QJZS|number:0}}条评价</span>
		</div>
		<div style="width:7%;">
			<i class="icon ion-chevron-right icon-accessory more_button" style="line-height:34px;"></i>
		</div>
    </div> 
    <div class="split-line-4"></div>
    <div class="list">
        <div class="item item-avatar" style="height: 39px;min-height: 39px;padding-top:8px;padding-left: 47px;">
            <img src="img/techan/techan_10.png" style="width:20px;height:20px;top: 7px;left: 18px;">
            <span style="font-size:13px;color:#333333;">
                呼旅·点评
            </span>
        </div>
        <div class="row bg-2" style="border-bottom: 1px solid #ddd;padding-top:8px;padding-left: 16px;padding-right: 16px;min-height: 100px;">
            <div ng-bind-html="pageData.mallInfo.TRIPH_COMMENT|imgFmt" style="white-space: initial;"></div>
        </div>
    </div>
<!--    <div class="row bg-2" style="padding: 12px 0px 12px 18px;">
    	<img src="img/techan/techan_10.png" style="width:20px;height:20px;margin-right: 10px;" />
    	<span class="pl-7 fs-13 cl-11 microsoft_yahei">呼旅·点评</span>
    </div>
    <div class="bg-2" style="padding: 0 18px 12px 18px;">
    	<span ng-bind-html="pageData.mallInfo.TRIPH_COMMENT|imgFmt"></span>
    </div>-->
    <div class="split-line-4"></div>
    <div class="row bg-2" style="padding: 12px 0px 12px 18px;">
    	<span class="pl-7 fs-13 cl-11 microsoft_yahei">包含内容</span>
    </div>
    <div class="row bg-2" style="margin:0;padding:0px 15px 0px 13px;height: 34px;line-height: 34px;padding-left:13px;" ng-repeat="item in pageData.mallInfo.MALL_COMMODITYRECOMMEND">
        <div style="width:8%;height: 31px;text-align: center;line-height: 39px;">
            <img ng-if="item.MALL_CLASS==1" src="app_plugins/discount_group/img/yhzh_01.png" style="width:21px;    padding-top: 7px;" />
            <img ng-if="item.MALL_CLASS==2" src="app_plugins/discount_group/img/yhzh_02.png" style="width:21px;    padding-top: 7px;" />
            <img ng-if="item.MALL_CLASS==3" src="app_plugins/discount_group/img/yhzh_03.png" style="width:21px;    padding-top: 7px;" />
            <img ng-if="item.MALL_CLASS==4" src="app_plugins/discount_group/img/yhzh_04.png" style="width:21px;    padding-top: 7px;" />
        </div>
        <div class="cl-18 text-overflow-elipsis" style="width:52%;text-decoration: underline;">
            <a style="color: #0094FF;" ng-bind="item.NAME"></a>
        </div>
        <div style="width:40%;text-align: right;">
            <span class="cl-13">原价</span>
            <span class="fs-16 pl-10 cl-20">{{item.PRICE|number:2}}起</span>
        </div>
    </div>
    <div class="split-line-4"></div>
    <div class="row bg-2 fs-14 cl-16" style="padding:12px 0px 6px 18px;">
        价格日历
    </div>
    <div carendar-bar style="background-color: #FFFFFF;" options-params ="{{pageData.dateData}}" result-start-date="reStartDate"  result-end-date="reEndDate" result-fun="result"></div>
    <div class="split-line-4"></div>
    <div class="row" style="padding:0px;display: -webkit-flex;">
<!--        <div class="col {{pageData.packageClass}}" style="-webkit-box-flex: 1;" ng-click="taocan()">
            <div class="fs-13" style="margin: auto;">套餐亮点</div>
        </div>
        <div class="col {{pageData.reserveNotice}}" ng-click="yuding()" style="margin: 0px;padding:0px;-webkit-box-flex: 1;">
            <div class="fs-13" style="margin: auto;">预订须知</div>
        </div>-->
        <div class="col" style="-webkit-box-flex: 1;padding: 0px;" ng-click="taocan()">
            <button class="{{pageData.packageClass}}" >
                套餐亮点
            </button>
        </div>
        <div class="col" style="-webkit-box-flex: 1;padding: 0px;" ng-click="yuding()">
            <button class="{{pageData.reserveNotice}}" >
                预订须知
            </button>
        </div>
    </div>
    <div id="taocanmiao" class="row bg-7" style="padding: 14px 0px 12px 18px;">
        <span class="pl-7 fs-14 cl-18 microsoft_yahei">套餐亮点</span>
    </div>
    <div class="bg-7" style="padding: 0 18px 12px 18px;">
        <span ng-bind-html="pageData.mallInfo.TAOCAN|imgFmt"></span>
    </div>
    <!-- <div class="split-line-5"></div> -->
    <div id="yudingmiao" class="row bg-7" style="padding: 12px 0px 12px 18px;">
        <span class="pl-7 fs-14 cl-18 microsoft_yahei">预订须知</span>
    </div>
    <div class="bg-7" style="padding: 0 18px 12px 18px;margin-bottom: 48px;">
        <span ng-bind-html="pageData.mallInfo.YUDING|imgFmt"></span>
    </div>
</ion-content>
<div class="bar bar-footer h-48" style="padding:0px;">
    <div class="row" style="padding:0;">
        <div class="bg-2 pt-6"style="width:36%;padding-left: 15px;border-right: 1px solid rgba(0, 0, 0, 0.5);">
            <div style="padding: 0px;" ng-if="pageData.choiceMoney==0">
                <div class="fs-16 cl-10 cl-20" ng-if="pageData.mallInfo.DISCOUNT==0||pageData.mallInfo.DISCOUNT==1">
                    ￥<span ng-bind="pageData.mallInfo.PRICE|number:2"></span>
                </div>
                <div class="fs-16 cl-10 cl-20" ng-if="pageData.mallInfo.DISCOUNT<1&&pageData.mallInfo.DISCOUNT>0">
                    ￥<span ng-bind="pageData.mallInfo.PRICE*pageData.mallInfo.DISCOUNT|number:2"></span>
                </div>
                <div class="fs-16 cl-10 cl-20" ng-if="pageData.mallInfo.DISCOUNT>1">
                    ￥<span ng-bind="pageData.mallInfo.PRICE-pageData.mallInfo.DISCOUNT|number:2"></span>
                </div>
            </div>
            <div ng-if="pageData.choiceMoney!=0">
                <div class="fs-16 cl-10 cl-20" >
                    ￥<span ng-bind="pageData.choiceMoney|number:2"></span>
                </div>
            </div>
            <div style="padding: 0px;">
                <span class="fs-12 " style="color:#666666">
                    原价:<span  ng-bind="pageData.yuanjia|number:2">
                    </span>
                </span>
            </div>
        </div>
        <div class="pt-16" style="width:14%;text-align: center;" ng-click="addCollection('{{pData.comdData.ID}}')">
            <img src="img/techan/techan_11.png" style="width:16px;" />
        </div>
        <div class="bg-11 pt-16" style="width:50%;text-align: center;" ng-click="buyNow()">
            <span class="fs-16 cl-10">
                在线预订
            </span>
        </div>
    </div>
</div>
<div footerpadding></div>