<a class="item item-box" ng-click="seeDetails(value.ID)">
      <h3 style="color:#010101;" ng-bind="value.C_TITLE"></h3>
      <p style="font-size:12px;white-space:normal;max-height:37px;overflow:hidden;" ng-bind="value.C_CONTENT"></p>
      <table class="full-table fs-12 mt-12">
      	<tr class="full-w">
      		<td class="cl-03">
      			<span>发布人:{{value.MEMBERNAME}}</span>
      		</td>
      		<td class="cl-02" style="text-align:right;">
      			<span>发布时间:{{value.RELTIME}}</span>
      		</td>
      	</tr>
      </table>
</a>