<!-- 我的发布文章 -->
<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="我的发布文章">
</div>
<ion-view view-title="我的发布文章">
    <ion-content>

        <div style="padding:10px 0px 0px 0px;margin:0px;" item="false" aslist rcode="myPublishArticles" temp-url="frame/more/expert_compound/views/my_articles_list_page.html" list-events="pageData.listEvents" params="{memberid:{{pageData.memberid}}}"></div>
        <div footerpadding></div>
    </ion-content> 
</ion-view>