<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     right-css="triph_topLine_quer"
     right-click-fun="toSearch()"
     title="呼旅头条">
</div>
<ion-content delegate-handle="mainScroll">
    <div class="row myorder_padding" style="text-align: center;padding:15px 0 17px 0;">
        <div class="col myorder_padding" style="height: 24px;">
            <button class="destination_button not_used_coupon" style="{{item.style}}" ng-click="selectCards('{{$index}}')" ng-class="[item.CSS,'tab-item']" ng-repeat="item in pageData.comdSelectCards" ng-bind="item.title">
            </button>
        </div>
    </div>
    <!-- 文章 -->
    <div item="false" ng-if="pageData.type =='0'" style="padding:0px;margin:0px;" aslist 
         rcode="collegeStudentBook" temp-url="app_plugins/find/topline/views/triph_toline_list_page.html"  
         list-events="pageData.list_events" params="{{pageData.triphTopLine}}">
    </div>

    <!--视频-->
    <div ng-if="pageData.type =='1'" style="padding:0px;margin:0px;" item="false" aslist 
         rcode="collegeStudentBook" temp-url="app_plugins/find/topline/views/triph_toline_video_page.html" 
         list-events="pageData.list_events" params="{{pageData.triphVideo}}" repeatdata="pageData.repeatdata"></div>
    <div footerpadding></div>
</ion-content>
<div suspend-box></div>