<style>
    .btn-push{
        background-color: rgb(42,212,212);
        height: 35px;
        color: white;
        border-radius: 3px;

        border:0px;
    }
</style>

<!--<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="店铺刷新">
</div>-->
<ion-view>
    <ion-nav-buttons side="left">
        <div  ng-click="back()"  class="public_comment_header_bar_padding_left">
            <i class="icon head_left_back"></i>
        </div>
    </ion-nav-buttons>

    <ion-nav-title>
        <div class="fs_4">
            店铺刷新
        </div>
    </ion-nav-title>
    
    <ion-content delegate-handle="mainScroll">
        <!-- 顶部 -->
        <h5 style="text-align:center;margin: 20px;">刷新铺铺一次{{pData.vvalue}}元</h5>
        <div class="list bg-2" ng-if="pData.coupList.length > 0" style="margin-top:-5px;">
            <!--优惠券 start-->
            <div style="background-color:#efefef;">
                <ion-list >
                    <div class="list row item" style="padding:3px" ng-click="changeCurrentCoup('-1')">
                        <div class="col-10 l-height-25 talign-c pt-5">
                            <i class="{{pData.coupNone.CSS}} c-positive fs-26"></i>
                        </div>
                        <div class="col-90 pt-10">
                            <p class="pl-10" href="javascript:void(0);" style="font-size:12px;">不使用</p>
                        </div>
                    </div>

                    <div class="list item"  ng-repeat="item in pData.coupList" ng-click="changeCurrentCoup('{{$index}}')" style="padding:7px 0px 7px 0px;">	
                        <div class=" row">
                            <div class="col-10 vmiddle" style="text-align: center;">
                                <i class="{{item.CSS}} c-positive fs-26 "></i>
                            </div>
                            <div class="col-90 vmiddle">
                                <span class="pl-10" style="font-size:12px;">代金劵<font ng-bind="item.CASH"></font>元</span>
                            </div>
                        </div>
                        <!--                            <div class="col vmiddle cr">
                                                        过期日期:<span ng-bind="item.EXPIRED|dateFormat:'yyyy - MM - dd'" class="pl-10"></span>
                                                    </div>-->

                    </div>
            </div>
            </ion-list>
        </div>

        <div footerpadding></div>
    </ion-content>
</ion-view>
<div class="bar bar-footer " style="display: inline;height: 50px;background-color: rgb(236,239,239);background-position:bottom;" >
    
    <div class="row" style="padding: 5px;">
        <div class="col-50" style="padding-top: 5px;text-align: center;margin: auto;">
        <span>共计：</span><span ng-bind='pData.paymentTotal|number:2'></span>元
        </div>
        <div class="col-50" style="padding-top: 3px;text-align: center;width:80%;margin: auto;" >
            <div ng-click="payment()" class="btn-push" style="height: 34px;margin: auto;text-align: center;
                 font-size: 15px;padding: 7px;">确定支付</div>
        </div>
    </div>   
</div>