<!-- 首页、合作社、社员、服务 -->
<ion-tabs class="tabs-icon-top bg-5 tabs-color-active-light">
  <ion-tab title="首页" icon-off="icon-home" icon-on="icon-home" href="#/mall/home">
    <ion-nav-view name="mall-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="合作社" icon-off="icon-hezuo-copy" icon-on="icon-hezuo-copy" href="#/mall/cooperative">
    <ion-nav-view name="am-cooperative"></ion-nav-view>
  </ion-tab>

  <ion-tab title="社员" icon-off="ion-ios-person" icon-on="ion-ios-person" href="#/mall/member">
    <ion-nav-view name="am-member"></ion-nav-view>
  </ion-tab>

  <ion-tab title="服务" icon-off="icon-fuwu" icon-on="icon-fuwu" href="#/mall/more">
    <ion-nav-view name="am-more"></ion-nav-view>
  </ion-tab>
</ion-tabs>
