<!-- 忘记密码设置新密码-->
<!--<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     right-css="header_title fs_4"
     title="忘记密码">
</div>-->
<ion-view>
    
    <ion-nav-buttons side="left">
        <div ng-click="back()"  class="public_comment_header_bar_padding_left">
            <i class="icon head_left_back"></i>
        </div>
    </ion-nav-buttons>

    <ion-nav-title>
        <div class="bar_title fs_4">
            忘记密码
        </div>
    </ion-nav-title>
    
  <ion-content >
    <div class="row find_setnew_padding_top">
      <div class="col">
        <div class="find_setnew_border-bottom">请设定新密码</div>
      </div>
    </div>
       <div class="row find_setnew_padding_top">
      <div class="col">
        <label class="item find_input_width find_label item-input ">
          <i class="ion-ios-unlocked-outline  placeholder-icon"></i>
          <input type="password" ng-model="pData.newpass"  placeholder="请输入新密码">
        </label>
      </div>
    </div>
    <div class="row find_setnew_padding_top">
      <div class="col">
        <label class="item find_input_width find_label item-input">
          <i class="ion-ios-unlocked-outline  placeholder-icon"></i>
          <input type="password" ng-model="pData.repeatpass"  placeholder="请再次输入新密码">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="button ng-binding login_mauto  login_buttonk button-calm" ng-click="update()" style="width: 100%;color:#ffffff;border:0px;">
          确定
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
