<!-- 我的地址列表 -->
<!--<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     right-css="header_title fs_4"
     right="新地址"
     right-click-fun="recordClick()"
     title="我的地址">
</div>-->
<ion-view>
    
    <ion-nav-buttons side="left">
        <div  ng-click="back()"  class="public_comment_header_bar_padding_left">
            <i class="icon head_left_back"></i>
        </div>
    </ion-nav-buttons>

    <ion-nav-title>
        <div class="fs_4">
            我的地址
        </div>
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <div class="fs_4" style="font-size:16px;line-height:44px;height:44px;padding-right:10px;margin-top: -4px;" ng-click="recordClick()">
            新地址
        </div>
    </ion-nav-buttons>

    
    <ion-content>
        <div style="padding:0px;margin:0px;" item="false" aslist rcode="address" temp-url="frame/member/address/views/address_list.html" list-events="pageData.list_events" params="{{pageData.params}}" repeatdata="pageData.repeatdata"></div>
        <div footerpadding></div>
    </ion-content>
</ion-view>