<!-- 生态科普观光旅游 -->
<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="生态科普观光旅游"
     right-css="header_title fs_4"
     right="我的"
     right-click-fun="mySignUp()">
</div>
<ion-view view-title="生态科普观光旅游">
  <ion-content>
  	<div class="row" style="background: #FFFFFF;">
      <div class="col col-33">
        <select class="item myinfoborder-radius item-input" style="width:100%;" ng-model="pageData.recvProvince" ng-options="province.PRONAME for province in cascadePCZ.provinces"  required>
		<option value="">-请选择省-</option>
		</select>
      </div>
      <div class="col col-33">
        <select class="item myinfoborder-radius item-input" style="width:100%;" ng-model="pageData.recvCity" ng-options="city.CITYNAME for city in cascadePCZ.cities"  required>
		      <option value="">-请选择市-</option>
		</select>
      </div>
      <div class="col col-33">
        <select class="item myinfoborder-radius item-input" style="width:100%;" ng-model="pageData.recvArea" ng-options="zone.ZONENAME for zone in cascadePCZ.zones"  required>
		      <option value="">-请选择区-</option>
		</select>
      </div>
    </div>
    <div class="diveline-2"></div>
    <div class="row item" style="color: #FFFFFF;">
      <div class="col col-20" style="padding:5px 0px;">
            <span class="input-label">出行时间:</span>
      </div>
      <div class="col col-33" style="background: #FFFFFF;padding:5px 0px;">
        <input type="date" ng-model="pageData.startDate" style="padding-top:0px;background: #FFFFFF;display: grid;display: flex;display:inline-flex;display:inline-gird;width:100%;">
      </div>
      <div class="col" style="padding:5px 0px;">
            <span class="input-label">至</span>
      </div>
      <div class="col col-33" style="background: #FFFFFF;padding:5px 0px;">
        <input type="date" ng-model="pageData.endDate" style="padding-top:0px;background: #FFFFFF;display: grid;display: flex;display:inline-flex;display:inline-gird;width:100%;">
      </div>
    </div>
    <div class="diveline-2"></div>
        <div class="row" style="background: #FFFFFF;">
      <div class="col">
        <button ng-click="query()" class="button button_with  myinfoborder-radius ng-binding h-43 agriculture_project_title">查询</button>
      </div>
    </div>
		<div style="padding:10px 0px 0px 0px;margin:0px;" item="false" aslist rcode="signUpSQL" temp-url="frame/more/kopp_train/travel/views/ecology_tourism_list_page.html" list-events="pageData.listEvents" params="{{pageData.params}}"></div>
  </ion-content> 
</ion-view>