  
      
      
    <div class="row">
        <div ng-repeat="week in weekday"  style="text-align:center;" class="col">{{week}}</div>
    </div>
    <div class="row col " style="text-align:center;">{{countPagYears}}</div>

    <div class="row" style="line-height: 15px;" ng-repeat="row in contenDatas">
        
        <div ng-repeat = "link in row track by $index" class="col datepicker_col_align {{link.type==2&&link.isAccess?'':'datepicker_col_align_notselect'}}"  ng-click="selectDateClick('{{link}}',$event)" >
          {{link.day==0?'':link.day}}<br>{{link.price!=""?'￥'+link.price:''}}
        </div>
    </div>

    <div class="row col " style="text-align:center;">{{nextPagYears}}</div>

    <div class="row" style="line-height: 15px;" ng-repeat="row in nextDatas">
        <div ng-repeat = "link in row track by $index" class="col datepicker_col_align {{link.type==2&&link.isAccess?'':'datepicker_col_align_notselect'}}"  ng-click="selectDateClick('{{link}}',$event)" >
          {{link.day==0?'':link.day}}<br>{{link.price!=""?'￥'+link.price:''}}
        </div>

    </div>
 
  <!-- <div class="row" style="position: fixed;padding: 0 20%;height: 30px;bottom: 50px;
background-size: 0px;">
      <button ng-click="closeModal()" class="col button button-assertive">
          确定
      </button>
  </div> -->
        
 