<style>
  
</style>

<!--消费过的店铺-->
<!--<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="消费过的店铺">
</div>-->

<ion-view>
    
    <ion-nav-buttons side="left">
        <div  ng-click="back()"  class="public_comment_header_bar_padding_left">
            <i class="icon head_left_back"></i>
        </div>
    </ion-nav-buttons>

    <ion-nav-title>
        <div class="fs_4">
            消费过的店铺
        </div>
    </ion-nav-title>
    
  <ion-content>
    <div class="list">
         <div class="list" item="false" aslist rcode="uoou.mine.fllowstore" 
             temp-url="app_plugins/uoou/mine/follow_store/views/follow_store_item.html" 
             list-events="pData.list_events" params="{{pData.params}}">
        </div>
    </div>
      <div footerpadding></div>
  </ion-content>
</ion-view>
