<!--发现首页-->
<div class="bar bar-heade" style="background: transparent;padding: 0px;height: 52px;">
    <div class="row" style="width:100%;padding:0px;padding-top:5px;padding-right: 10px;">
        <div class="col" style="text-align:right;padding: 0px;">
            <img ng-click="message()" src="img/right-2.png" style="width: 23px;height: auto;">
        </div>
    </div>
</div>
<ion-content delegate-handle="mainScroll" class="bg-7" style="padding-top: 0px;">
    <div ng-include="'app_plugins/find/views/find_index.html'"></div>
</ion-content>

<div suspend-box></div>
