<!--发现广告div-->
<!-- Slider main container -->
<div class="swiper-container find_swiper" id="find_swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" ng-repeat="item in pageData.findData">
            <img ng-click="toPage('{{item.URL}}')" ng-src="{{item.LISTIMGAGE|hostFilter }}" style="width:100%;">
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination" id="swiper-pagination"></div>
    <!-- If we need scrollbar -->
</div> <!--发现广告div   end-->
<div class="row bg-2 mb-6" style="width:100%;padding:17px 0 17px 0;">
    <div style="width:50%;text-align:center;" ng-click="topLine()">
        <img src="img/find_1.png" style="width:31px;height: auto;">
        <div class="fs-12 cl-09 microsoft_yahei">
        	呼旅头条
        </div>
    </div>
    <div style="width:50%;text-align:center;" ng-click="destination()">
        <img src="img/find_2.png" style="width:31px;height: auto;">
        <div class="fs-12 cl-09 microsoft_yahei">
        	目的地
        </div>
    </div>
</div>
<div class="row bg-2" style="width:100%;padding: 12px 19px 12px 19px;margin: 0px">
	<div style="width:100%;text-align:center;" ng-click="topLine()">
        <span class="fs-16 cl-20 microsoft_yahei">热门头条</span>
        <i class="icon ion-chevron-right icon-accessory find_button"></i>
    </div>
</div>
<div class="diveline"></div>
<div ng-repeat="item in pageData.topLineData">
 <a class="item item-thumbnail-right list-style" ng-click="toDetails(item.ID)">
 	<img ng-src="{{item.LISTIMGAGE|hostFilter}}" style="top: 10px;right: 19px;max-width: 92px;max-height:70px; width: 100%;height: 100%;">
	<p style="font-size:13px;white-space:normal;max-height:39px;height: 36px;overflow:hidden;margin-bottom:10px;microsoft_yahei" ng-bind="item.TITLE"></p> 
	<table class="full-table fs-11">
		<tr class="full-w">
			<td class="cl-21 microsoft_yahei">
				<span>作者{{item.AUTHOR}}</span>
			</td>
			<td class="cl-21 microsoft_yahei" style="text-align:right;">
				<img src="img/find_04.png" style="width:14px;height: auto;vertical-align: middle;">
				<span class="fs-11" ng-bind="item.COUNT"></span>
				<img src="img/find_05.png" style="width:14px;height: auto;vertical-align: middle;">
				<span class="fs-11" ng-bind="item.LIKE_NUMBER"></span>
			</td>
		</tr>
	</table>
</a>
</div>
<div class="row" style="width:100%;padding: 9px 10px 20px 10px;margin: 0px" ng-repeat="item in pageData.videoData">
	<div ng-click="toVideo(item.ID)" style="width:100%;text-align:center;">
        <img src="{{item.LISTIMGAGE|hostFilter}}" style="height: 180px;width: inherit">
    </div>
</div>