<!--我的投诉 生产社员-->
<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     right-css="fs_12"
     title="我的投诉">
</div>
<ion-view view-title="我的投诉">
    <ion-content >
        <div class="pt-10"></div>
        <div aslist style="padding:10px 0px 0px 0px;margin:0px;" item="false"  rcode="{{pData.resourceCode}}" params="{{pData.resPrams}}" list-events="pData.listEvents" temp-url="frame/member/my_complaint/views/compaint_order_item.html"></div>
        <div footerpadding></div>
    </ion-content>
</ion-view>