<!--现金账户 CASH_ACCOUNT   CashAccountCtrl-->
<div nav-bar class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs-14"
     right-css="header_title fs-14"
     title="{{pageData.pageTitle}}">
</div>

<ion-view view-title="">
    <ion-content>
        <div class="pt-10"></div>
        <div class="list">
            <div class="item item-avatar" style="min-height: 48px;padding-left: 11%;">
                <img style="top:12px;border-radius: 0;width: 5%;height: auto;" src="img/cash_03.png">
                <span>余额</span><span style="float:right;" >{{pageData.balance|ptoy}}元</span>
            </div>
            <div class="pt-10"></div>
            <div class="item item-avatar "
                 style="padding: 8px 0px;
                 min-height: 0px;text-align: center;">
                <div class="row">
                    <div ng-click="toPayPage()" class="account_bar_div" class="account_bar_div">
                        <img class="account_bar_div_img_01"  src="img/user-5.png">
                        <span style="vertical-align: middle;">充值</span>
                    </div>
                    <div ng-click="toWithPage()"  class="account_bar_div">
                        <img  class="account_bar_div_img_02" src="img/cash_18.png">
                        <span style="vertical-align: middle;">提现</span>
                    </div>
                    <div class="account_bar_div" ng-click="toVirementPage()">
                        <img class="account_bar_div_img_03" src="img/cash_13.png">
                        <span style="vertical-align: middle;">转账</span>
                    </div>
                    <div class="col-25" ng-click="toVirementOtherPage()" style="display: inline-block;text-align: center;border-right: 1px solid #CCCCCC;">
                        <img class="account_bar_div_img_04" style="" src="img/cash_13.png">
                        <span style="vertical-align: middle;">向他人转账</span>
                    </div>
                    <div class="col-25" ng-click="toSendRedPacket()" style="display: inline-block;text-align: center;">
                        <img class="account_bar_div_img_04" src="img/cash_11.png">
                        <span style="vertical-align: middle;">发果蔬红包</span>
                    </div>
                </div>
            </div>
            <div class="pt-10"></div>
            <div class="item " ng-click="toPage()" style="padding:8px;">
                <div class="row">
                    <div class="col-80" style="color:#595959;">交易记录</div>
                    <div class="col-20" style="text-align: right;">
                        <i class="icon ion-chevron-right icon-accessory more_button" style="line-height:20px;"></i>
                    </div>
                </div>
            </div>

            <!--<div class="pt-20 pl-10 fs-14 pb-10" style="color:#595959;">交易记录</div>-->
            <div  style="padding:0px;margin:0px;" no-show-more="false" item="false" aslist rcode="transaction_record_info" temp-url="app_plugins/common/record/views/transaction_record_index.html" list-events="pageData.list_events" params="{{pageData.params}}"></div>
            <div footerpadding></div>
        </div>
    </ion-content>
</ion-view>
