<!-- 社员守则 -->
<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="社员守则">
</div> 
<ion-view view-title="社员守则">
  	<ion-content>
       	<div class="am-content pt-10 pb-10 fs-14">
      		<div><h3 class="cl-03 content-title" style="margin-bottom:0px;">{{pageData.title}}</h3></div>
    	</div>
      <div class="diveline"></div>
    <div class="bg-2 am-content pt-10 pb-10">
      <table class="full-table fs-10 ">
        <tr class="full-w">
          <td>
            <span class="cl-02">发布时间:{{pageData.createdate}}</span>
          </td>
        </tr>
      </table>
    </div>
    	<div class="diveline-2"></div>
	    <div class="am-content fs-12 pt-10 pb-10">
		    <div ng-bind-html="pageData.detailed|imgFmt"></div>
		  </div>

      <div class="row" style="height:60px;line-height:60px;">
      <div class="col">&nbsp;<a href="javaScript:void(0);" style="display:none;">&nbsp;</a></div>
    </div>
    <div class="row">
      <div class="col">&nbsp;<a href="javaScript:void(0);" style="display:none;">&nbsp;</a></div>
    </div>
  	</ion-content>
</ion-view>