<div style="border-bottom: 1px solid #E5E5E5;">
<div class="row" style="padding:0px;">
  <div class="col col-25">交易编号：</div>
  <div class="col">{{value.ID}}</div>
</div>
<div class="row" style="padding:0px;">
  <div class="col col-25">交易额：</div>
  <div class="col">{{value.MONEY|ptoy}}</div>
</div>
<div class="row" style="padding:0px;">
  <div class="col col-25">手续费：</div>
  <div class="col">{{value.FEE|ptoy}}</div>
</div>
<div class="row" style="padding:0px;">
  <div class="col col-25">交易时间：</div>
  <div class="col">{{value.TIME}}</div>
</div>
<div class="row" style="padding:0px;">
  <div class="col col-25">交易备注：</div>
  <div class="col">{{value.RMARKS}}</div>
</div>
</div>
