<!--酒店订订单详情-->
<div class="bg-2 pr-10 pl-10">
	<div class="row">
		<div class="col">
			<span class="cl-0 fs-13" ng-bind="featureData.COMD_INFO.STORE_NAME"></span>
		</div>
	</div>
	<dvi class="row">
		<div class="col cl-12">
			<span ng-if="pData.orderInfo.cancel==1">
				<i class="icon ion-ios-close-outline fs-16 pr-3"></i>订单确定后，不可取消
			</span>
		</div>
	</dvi>
	<dvi class="row">
		<div class="col cl-12">
			<span ng-bind="pData.orderInfo.START_DATE|dateFormat:'yyyy-MM-dd'"></span>入住，
			<span ng-bind="pData.orderInfo.LEAVE_TIME|dateFormat:'yyyy-MM-dd'"></span>离店，
			<span ng-bind="pData.orderInfo.LEAVE_TIME|dateDiff:pData.orderInfo.START_DATE"></span>晚
		</div>
	</dvi>
	<dvi class="row">
		<div class="col cl-12">
			<span ng-bind="pData.orderInfo.NAME"></span>
		</div>
	</dvi>
	<div class="row">
		<div class="col CM fs-13">
			<div ng-click="switchShowOrderMsg()">
				<span style="display:block">预订须知</span>
				<span class="fs-16 cl-0">&nbsp;&nbsp;
					<i ng-if="!pData.showOrderMsg" class="cl-0 icon ion-ios-arrow-down"></i>
					<i ng-if="pData.showOrderMsg" class="cl-0 icon ion-ios-arrow-up"></i>
				&nbsp;&nbsp;</span>
			</div>
		</div>
	</div>
	<div class="row" ng-show="pData.showOrderMsg">
		<div class="col" ng-if="pData.orderMsg">
			<div ng-bind-html="pData.orderMsg|imgFmt"></div>
		</div>
	</div>
</div>
<!--商品主要信息 end-->
<div class="split-line-2"></div>
<div class="bg-2 pr-10 pl-10  pb-10">
	<div class="row pl-10" style="padding-top:0px;padding-bottom:0px;">
		<div class="col-33 vmiddle">
			<span>单价</span>
		</div>
		<div class="col cr">
			<div class="fs-14">
				￥<span ng-bind="pData.orderInfo.SALEPRICE|number:2"></span>
			</div>
		</div>
	</div>
	<div class="row pl-10 " style="padding-top:0px;padding-bottom:0px;">
		<div class="col-33 vmiddle">
			<span>房间数</span>
		</div>
		<div class="col cr pt-10">
			<span ng-bind="pData.orderInfo.SALENUMBER"></span>
		</div>
	</div>
	<div class="row pl-10">
		<div class="col-33 vmiddle">
			<span>预计到店时间</span>
		</div>
		<div class="col cr">
			<span ng-bind="pData.orderInfo.EXPECT_ARRIVAL_TIME|dateFormat:'yyyy-MM-dd hh'"></span>
			点之前
		</div>
	</div>
	<div class="row pl-10" style="padding-top:0px;padding-bottom:0px;">
		<div class="col-33 vmiddle">
			<span>总价</span>
		</div>
		<div class="col cr">
			<div class="red_price fs-16">
				￥<span ng-bind="pData.orderInfo.TOTALPRICE|number:2"></span>
			</div>
		</div>
	</div>
	<div class="row pl-10">
		<div class="col-33 vmiddle">
			<span>联系人:</span>
		</div>
		<div class="col cr">
			<span ng-bind="pData.orderInfo.CONTACT"></span>
		</div>
	</div>
	<div class="row pl-10">
		<div class="col-33 vmiddle">
			<span>联系电话:</span>
		</div>
		<div class="col cr">
			<span ng-bind="pData.orderInfo.CONTACTPHONE"></span>
		</div>
	</div>
</div>