<style>
  .btn-push{
        background-color: rgb(42,212,212);
        height: 35px;
        color: white;
        border-radius: 3px;

        border:0px;
    }
</style>


<!--活动内容-->
<!--<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="活动内容">
</div>-->

<ion-view>
    
    <ion-nav-buttons side="left">
        <div ng-click="back()"  class="public_comment_header_bar_padding_left">
            <i class="icon head_left_back"></i>
        </div>
    </ion-nav-buttons>

    <ion-nav-title>
        <div class="fs_4">
            活动内容
        </div>
    </ion-nav-title>
    
  <ion-content>
      
      <div class="list">
        <label class="item item-input" style="padding: 6px 6px 6px 8px;">
            <textarea placeholder="活动内容" ng-model="pData.content" rows="12"></textarea>
        </label>
      </div>
      
  </ion-content>
</ion-view>



<div class="bar bar-footer" style="display: inline;height: 50px;background-color: rgb(236,239,239);background-position:bottom;" >
    
    <div class="row" style="padding: 0px;">
        <div class="col-90" style="padding-top: 3px;text-align: center;margin: auto;" >
            <div ng-click="submit_audit()" class="btn-push" style="height: 34px;margin: auto;text-align: center;
                 font-size: 15px;padding: 7px;">提交审核</div>
        </div>
    </div>   
</div>

<!--<div class="bar bar-footer bar-balanced" style="height: 35px;background-color: rgb(42,212,212);    background-image: linear-gradient(180deg, rgb(42,212,212), rgb(42,212,212) 0%, transparent 0%);">
      <div class="title" style="line-height: 37px;font-size: 17px;" ng-click="submit_audit()">提交审核</div>
    </div>-->
