<!-- 现代理性农业科普培训详情 -->
<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="现代理性农业科普培训">
</div>
<ion-view view-title="现代理性农业科普培训">
  <ion-content>
    <div class="split-line"></div>
		<div class="bg-2 am-content pt-13 pb-13">
      <div><h3 class="cl-03 content-title" style="margin-bottom:0px;">{{pageData.pcTitle}}</h3></div>
    </div>
    <div class="diveline"></div>
    <div class="bg-2 am-content pt-10 pb-10">
      <table class="full-table fs-10 ">
        <tr class="full-w">
          <td>
            <span class="cl-02">发布时间:{{pageData.reltime}}</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="diveline"></div>
    <div class="bg-2 am-content pb-20">
      <div ng-bind-html="pageData.pcContent|imgFmt"></div>
    </div>
    <div class="pt-10">
      <div id="koppTrainPlayDiv" style="width:100%;background-color:back;"></div>
    </div>
    <div footerpadding></div>
  </ion-content>
</ion-view>