<!-- 理性农业科普培训 -->
<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="现代理性农业科普培训">
</div>
<ion-view view-title="现代理性农业科普培训">
    <ion-content>
        <form ng-submit="query()">
            <div class="row bg-2 h-46" style="width:100%;padding:0;margin: 0px;background: transparent;display: -webkit-flex;">
                <div class="col" style="text-align: -webkit-center;-webkit-box-flex: 1;padding: 0px;">
                    <div class='item item-input' style="width:100%;color: #ffffff;opacity: 0.5;padding: 0px;height:46px;">
                        <i class='icon ion-search placeholder-icon' style="font-size:25px;margin-left: 10px;line-height: 1.5;" ng-click="query()"></i>
                        <input type='search' ng-model="pageData.pcTitle" style="text-align: center;font-size: 15px;padding-top: 0px;height: 46px;" placeholder="请输入培训标题">
                    </div>
                </div>
            </div>
        </form>
        <!--    <label class="item item-input h-46">
                <input type="text" ng-model="pageData.pcTitle" placeholder="请输入培训标题">
            </label>
            <div class="row" style="background: #FFFFFF;">
              <div class="col">
                <button ng-click="query()" class="button button_with  myinfoborder-radius h-43 agriculture_project_title">查询</button>
              </div>
            </div>-->
        <div style="padding:10px 0px 0px 0px;margin:0px;" item="false" aslist rcode="koppTrain" temp-url="frame/more/kopp_train/views/kopp_train_list_page.html" list-events="pageData.listEvents" params="{{pageData.params}}"></div>
        <div footerpadding></div>
    </ion-content> 
    <!--   <div class="bar bar-footer">
            <colgroup style="width:49%;"></colgroup>
            <colgroup style="width:49%;"></colgroup>
            <tr>
                <button ng-click="myArticle()" class="button button_with  myinfoborder-radius h-43" style="margin-right: 1px;font-size: 14px;">我的文章</button>
            </tr>
            <tr>
                <button ng-click="signUp()" class="button button_with  myinfoborder-radius h-43" style="margin-left: 1px;font-size: 14px;">我要报名</button>
            </tr>
      </div> -->
    <div class="row bar bar-footer ios-margin-button" style="padding:6px;margin:0px;">
        <div class="col" style="width: 40%;">
            <button class="button button_with  myinfoborder-radius h-43 agriculture_project_title" ng-click="myArticle()">
                我的文章
            </button>
        </div>
        <div class="col" style="width: 40%;">
            <button class="button button_with  myinfoborder-radius h-43 agriculture_project_title" ng-click="signUp()">
                我要报名
            </button>
        </div>
    </div>
</ion-view>