<a class="item item-box" ng-click="toRead(value.PCID,value.ID,value.SHENGYU)">
      <h3 style="color:#010101;" ng-bind="value.PC_TITLE"></h3>
      <p style="font-size:12px;white-space:normal;max-height:37px;overflow:hidden;" ng-bind="value.ABSTRACT"></p>
      <table class="full-table fs-12 mt-12">
      	<tr class="full-w">
      		<td class="cl-02">
      			<span>剩余次数:{{value.SHENGYUNAME}}</span>
      		</td>
      		<td class="cl-02" style="text-align:right;">
      			<span>可读次数:{{value.COUNTNAME}}</span>
      		</td>
      	</tr>
      </table>
      <table class="full-table fs-12 mt-12">
      	<tr class="full-w">
      		<td>
      			<span class="cl-03 ">费用:{{value.COST|ptoy}}元</span>
      		</td>
      	</tr>
      </table>
</a>