<!-- 理性农业科普培训 -->
<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="现代理性农业科普培训">
</div>
<ion-view view-title="现代理性农业科普培训">
    <ion-content>
        <div style="padding:10px 0px 0px 0px;margin:0px;" item="false" aslist rcode="myArticle" temp-url="frame/more/kopp_train/views/my_article_list_page.html" list-events="pageData.listEvents" params="{memberid:{{pageData.memberid}}}"></div>
        <div footerpadding></div>
    </ion-content> 
</ion-view>