<!-- 农村大市场详情 -->
<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="农村大市场">
</div>
<ion-view view-title="农村大市场">
    <ion-content>
        <div class="split-line"></div>
        <div class="bg-2 am-content pt-13 pb-13">
            <div><h3 class="cl-03 content-title" style="margin-bottom:0px;">{{pageData.marketData.TITLE}}</h3></div>
        </div>
        <div class="bg-2 am-content pt-10 pb-10">
            <table class="full-table fs-10 ">
                <tr class="full-w">
                    <td class="cl-02">
                        <span>发布时间:{{pageData.marketData.SHELVETIME}}</span>
                    </td>
                    <td class="cl-02" style="text-align:right;">
                        <span>价格:{{pageData.marketData.TRADE_AMOUNT|ptoy}}元</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="bg-2 am-content pt-10 pb-10">
            <table class="full-table fs-10 ">
                <tr class="full-w">
                    <td class="cl-02">
                        <span>状态:</span>
                        <span ng-bind="pageData.statusEnum[pageData.marketData.MTRSTATUS]"></span>
                    </td>
                    <td class="cl-02" style="text-align:right;">
                        <span>分类:{{pageData.marketData.NAME}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="bg-2 am-content pt-10 pb-10">
            <table class="full-table fs-10 ">
                <tr class="full-w">
                    <td class="cl-02">
                        <span>联系人:{{pageData.marketData.MEMBERNAME}}</span>
                    </td>
                    <td class="cl-02" style="text-align:right;">
                        <span>联系电话:{{pageData.marketData.PHONE}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="bg-2 am-content pb-20">
            <div ng-bind-html="pageData.marketData.ME_CONTENT | imgFmt"></div>
        </div>
        <div class="bg-2 am-content pb-20" ng-repeat="item in pageData.listImages track by $index">
            <img ng-src="{{item|hostFilter}}" style="width:100%;height:100%;">
        </div>
        <!--        <br><br><br><br>
                <img src="" style="height:0;width:0;">-->
        <div footerpadding></div>
    </ion-content>
    <div class="bar bar-footer ios-margin-button" ng-if="pageData.marketData.STATUS == 5">
        <button ng-click="confirmReceipt()" class="button button_with  myinfoborder-radius h-43" style="margin-left: 1px;font-size: 14px;">确认收货</button>
    </div>
</ion-view>