<!-- 我的摊位列表 -->
<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     right-css="header_title fs_4"
     right="发布"
     right-click-fun="recordClick()"
     title="农村大市场">
</div>
<ion-view view-title="农村大市场">
    <ion-content>
        <div style="padding:0px;margin:0px;" item="false" aslist rcode="lxny.rural_market.myBooth.myBooth" temp-url="app_plugins/rural_market/my_booth/views/my_booth_list_page.html" list-events="pageData.list_events" params="{{pageData.params}}" repeatdata="pageData.repeatdata"></div>
    <div footerpadding></div>
    </ion-content>
</ion-view>