<!DOCTYPE html>
<!--
聊天
-->
<style>
    .btn-push{
        background-color: rgb(42,212,212);
        height: 35px;
        width: 100%;
        color: white;
        border-radius: 3px;

        border:0px;
    }
    
    .send {
        position:relative;
        max-width:80%;
        width: auto;
        min-height:44px;
        background:rgb(42,212,212);
        border-radius:3px; /* 圆角 */
        color: white;
        font-size: 12px;
        padding: 6px 10px;
        border:0px;
        text-align: left;
    }

    .send .arrow {
        position:absolute;
        top:12px;
        right:-14px; /* 圆角的位置需要细心调试哦 */
        width:0;
        height:0;
        font-size:0;
        border:solid 8px;
        border-color:transparent transparent transparent rgb(42,212,212);
    }

    .send_1 {
        position:relative;
        max-width:80%;
        width: auto;
        min-height:44px;
        background:#FFFFFF;
        border-radius:3px; /* 圆角 */
        color: black;
        font-size: 12px;
        padding: 6px 10px;
        border:0px;
        text-align: left;
    }

    .send_1 .arrow_1 {
        position:absolute;
        top:12px;
        left:-14px; /* 圆角的位置需要细心调试哦 */
        width:0;
        height:0;
        font-size:0;
        border:solid 8px;
        border-color:transparent #FFFFFF transparent transparent ;
    }
</style>
<!--<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="{{pData.groupName}}"
     right="详情"
     right-click-fun="groupDetails()">
</div>-->

<ion-view class="message-detail-content" style="height:auto;">
    <ion-nav-buttons side="left">
        <div class="public_comment_header_bar_padding_left" ng-click="back()">
            <i class="icon head_left_back"></i>
        </div>
    </ion-nav-buttons>
    <ion-nav-title>
        <div class="fs_4">{{pData.groupName}}</div>
    </ion-nav-title>
    <ion-nav-buttons   side="right">
        <div style=" padding: 7px 7px; font-size: 14px; " ng-click="groupDetails()">
           详情
        </div>
    </ion-nav-buttons>
    
    <ion-content style="background-color: rgb(236,239,239);height: 100%;padding-top:0px;" delegate-handle="mainScroll">
        <!-- 聊天记录 -->
        <div ng-repeat="item in pData.groupMessage.message track by $index">
            <!--其他成员发送内容-->
            <div class="row"  ng-if="item.memberid != pData.memberId" style="margin-bottom: 10px;"><!---->
                
                <!--群组其他成员头像-->
                <div style="text-align: center;width:15%;">
                    <img ng-src="{{item.memberhead|hostFilter}}" ng-click="personDynamic(item.memberid)" style="width:40px;height: 40px;border-radius: 5px;">
                </div>
                <div style="text-align: left;width: 85%;padding-left: 10px;">
                    
                    <!--群组成员昵称-->
                    <div style="text-align: left;padding-bottom: 2px;">
                        <span class="fs-12" ng-bind="item.membername" style="color:#b2b2b2;">
                        </span>：
                    </div>
                    
                    <!--其他成员发送的内容，有内容没有图片只显示内容-->
                    <button class="send_1" ng-if="item.content&&!item.imgcontent">
                        <span ng-bind-html="item.content"></span>
                        <div class="arrow_1"></div>
                    </button>
                    <!--其他成员发送的图片，有图片没有内容只显示图片-->
                    <button class="send_1" ng-if="item.imgcontent&&!item.content" >
                        <img  ng-src="{{img.path | hostFilter}}" style="width:100%;height: auto;" ng-repeat="img in item.imgcontent"/>
                        <div class="arrow_1"></div>
                    </button>
                    
                    <!--其他成员发送的内容，有内容没有图片只显示内容-->
                    <button class="send_1" ng-if="item.content&&item.imgcontent">
                        <span ng-bind-html="item.content"></span>
                        <div class="arrow_1"></div>
                    </button>
                    <!--其他成员发送的图片，有图片没有内容只显示图片-->
                    <button class="send_1" ng-if="item.imgcontent&&item.content" >
                        <img  ng-src="{{img.path | hostFilter}}" style="width:100%;height: auto;" ng-repeat="img in item.imgcontent"/>
                        <div class="arrow_1"></div>
                    </button>
                    
                </div>

            </div>
            
            <!--我发送的内容-->
            <div class="row" ng-if="item.memberid == pData.memberId" >
                
                
                <div  style="text-align: right;width:85%;padding-right: 10px;">
                    <!--我的昵称-->
                    <div style="text-align: right;padding-bottom: 2px;color:#b2b2b2; ">
                        <span ng-bind="item.membername">

                        </span>：
                    </div>
                    <!--我发送的聊天内容-->
                    <button class="send" ng-if="item.content&&!item.imgcontent">
                        <span ng-bind-html="item.content"></span>
                        <div class="arrow"></div>
                    </button>
                    
                    <!--我发送的图片-->
                    <button class="send" ng-if="item.imgcontent&&!item.content" >
                        <img  ng-src="{{img.path | hostFilter}}" style="width:100%;height: auto;" ng-repeat="img in item.imgcontent"/>
                        <div class="arrow"></div>
                    </button>

                     <button class="send" ng-if="item.content&&item.imgcontent">
                        <span ng-bind-html="item.content"></span>
                        <div class="arrow"></div>
                    </button>
                    
                    <!--我发送的图片-->
                    <button class="send" ng-if="item.imgcontent&&item.content" >
                        <img  ng-src="{{img.path | hostFilter}}" style="width:100%;height: auto;" ng-repeat="img in item.imgcontent"/>
                        <div class="arrow"></div>
                    </button>


                </div>
                
                <!--我的头像-->
                <div style="text-align: center;width:15%;">
                    <img ng-src="{{item.memberhead|hostFilter}}" style="width:40px;height: 40px;border-radius: 5px;">

                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </ion-content>
    
    <ion-footer-bar keyboard-attach style="display: inline;{{pData.footerHeight}};background-color: rgb(236,239,239);background-position:bottom;height: auto;">
<!--    <div class="row" style="padding: 0px;">
        <div style="padding: 0px;width: 55%;">
            <div id="area2"  contentEditable="{{!pData.showType}}" class='area' style="min-height: 37px;border-radius: 5px;border: 1px solid #ddd;width: 100%;height:37px;overflow: hidden;-webkit-user-select: text;"></div>
        </div>
        <div style="padding: 0px;text-align: center;margin: auto;width:15%;">
            <i class="ion-plus-circled" data-pack="default" 
               data-tags="add, include, new, invite, +" style="font-size:30px;color: rgb(42,212,212);" ng-click="clickImg()">

            </i>
        </div>
        <div style="padding: 0px;padding-left: 5px;width:15%;">
            <div class="emoji-container" ng-show="!pData.showType">
                <i class="ion-android-happy emoji-tbtn" data-pack="default" 
               data-tags="add, include, new, invite, +" style="font-size:35px;color: rgb(42,212,212);"></i>
            </div>
            <div ng-show="pData.showType">
                <i class="ion-android-happy" data-pack="default" 
               data-tags="add, include, new, invite, +" style="font-size:35px;color: rgb(42,212,212);"></i>
            </div>   
        </div>
        <div style="padding: 0px;text-align: center;width:15%;">
            <div ng-click="pushMessage()" class="btn-push" style="width: 100%;height: 34px;margin: auto;text-align: center;
                 font-size: 15px;padding: 7px;">发送</div>
        </div>
    </div>-->
<div class="row" style="padding: 7px 0px; height: auto;">
        <div  class="col-10" style="padding: 3px;width: 20px; margin: auto;text-align: center;">
            <i class="ion-plus-circled" data-pack="default" 
               data-tags="add, include, new, invite, +" style="font-size:30px;color: rgb(42,212,212);bottom: 8px;left: 2%;" ng-click="clickImg()">
            </i>
        </div>
        <div class="col"  style="padding: 0px;width:70%;height: auto;" >
            <!--<input ng-disabled="pData.showType" ng-model="pData.pushContent" style="border:0px;height: 35px;background-color: white;border-radius: 5px;width: 100%;"/>-->
            <div id="area2" ng-keyup ="select_max_length()" ng-focus="select_content_focus()"  contenteditable="true" class='area fs-15' style="height: auto;min-height: 37px;border-radius: 5px;border: 1px solid #ddd;width: 100%;overflow: hidden;-webkit-user-select: text;padding: 8px 5px;background-color: #ffffff;color: #333333;"></div>
        </div>
        <div  class="col-10" style="padding: 0px;width:20px;margin: auto;margin-bottom: 0px;text-align: center;">
<!--            <div  class=" emoji-container " style="text-align: center;"  ng-show="!pData.showType">
                <i class="ion-android-happy emoji-tbtn" data-pack="default" 
               data-tags="add, include, new, invite, +" style="font-size:35px;color: rgb(42,212,212);"></i>
            </div>
            <div ng-show="pData.showType">
                <i class="ion-android-happy" data-pack="default" 
               data-tags="add, include, new, invite, +" style="font-size:35px;color: rgb(42,212,212);"></i>
            </div>   -->
            
        <!--<div class="buttons" style="height: 0px;margin-top: -19px;margin-left: -4px;">-->
        <button class="button button-icon icon ion-happy-outline" id="emoji_btn_1_group" style="color:rgb(42,212,212);padding: 0px;"></button>
        <!--</div>-->

        </div>
        <div  class="col-20" style="padding: 0px;width:50px;margin: auto;margin-bottom: 0px;text-align: center;">
            <div ng-click="pushMessage()" class="btn-push" style="width:62px;height: 34px;text-align: center;
                 font-size: 15px;padding: 7px;position: fixed;bottom: 9px;">发送</div>
        </div>
    </div>
    <!--选择图片-->
    <div ng-if="pData.showType" album  max="4" table="CHATIMG" pvalue="GROUPCHATIMG" field="{{pData.memberId}}"
         out-data="pData.imgPath" style="background-color: rgb(236,239,239);margin-top: 7px;padding:0px 0px 0px 1px;"></div>
</ion-footer-bar>
    
    
</ion-view>

