<!--开通店铺-->

<style>
    .btn-store-choice{
        width:100%;
        height: 48px;
        background-color: rgb(231,247,247);
        border:1px solid #ddd;
        color: rgb(42,212,212);
    }
    .btn-store-no-choice{
        width:100%;
        height: 48px;
        background-color: #FFFFFF;
        border:1px solid #ddd;
        color: rgb(42,212,212);
    }
    .platform-android .checkbox-platform input:before, .platform-android .checkbox-platform .checkbox-icon:before, .checkbox-square input:before, .checkbox-square .checkbox-icon:before{
        border-radius: 50%;
    }
    .btn-push{
        background-color: rgb(42,212,212);
        height: 35px;
        width: 100%;
        color: white;
        border-radius: 3px;

        border:0px;
    }
    .option {
        font-size: 12px;
    }
</style>

<!--<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="开通店铺">
</div>-->
<ion-view>
    
    <ion-nav-buttons side="left">
        <div ng-click="back()"  class="public_comment_header_bar_padding_left">
            <i class="icon head_left_back"></i>
        </div>
    </ion-nav-buttons>

    <ion-nav-title>
        <div class="bar_title fs_4">
            开通店铺
        </div>
    </ion-nav-title>
    
    <ion-content style="background-color: rgb(236,239,239);">
        <div class="item" style="min-height: 50px;height: 50px;padding-top: 0px;">
            <div class="row">
                <div class="col col-20" style="margin-top: auto;margin-bottom: auto;">
                    <span>铺铺名称：</span>
                </div>
                <div class="col">
                    <input type="text" style="width: 100%;" placeholder="请输入铺铺名称" ng-model="pData.storeName"/>
                </div>
            </div>
        </div>
        <div class="item" style="min-height: 50px;height: 50px;padding-top: 0px;">
            <div class="row">
                <div class="col col-20" style="margin-top: auto;margin-bottom: auto;">
                    <span>店铺分类：</span>
                </div>
                <div class="col col-40">
                    <select class="fs-12" style="width: 100%;height: 30px;background-color: #FFFFFF;border: 0px;text-align: center;"
                            ng-options="items.ID as items.CLASS_NAME for items in pData.mainClassData" ng-model="pData.storeMainClass" >

                    </select>
                </div>
                <div class="col col-40">
                    <select class="fs-12" style="width: 100%;height: 30px;background-color: #FFFFFF;border: 0px;text-align: center;"
                            ng-options="items.ID as items.CLASS_NAME for items in pData.subClassData" ng-model="pData.storeSubClass"
                            ng-change="initTabs()">
                    </select>
                </div>
            </div>
        </div>

        <div class="item" style="min-height: 50px;height: 50px;padding-top: 0px;">
            <div class="row">
                <div class="col col-20" style="margin-top: auto;margin-bottom: auto;">
                    <span>店铺地址：</span>
                </div>
                <div class="col col-26">
                    <select class="fs-12" style="width: 100%;height: 30px;background-color: #FFFFFF;border: 0px;text-align: center;"
                            ng-model="pData.recvProvince" ng-options="province.PROID as province.PRONAME for province in cascadePCZ.provinces">
                    </select>
                </div>
                <div class="col col-26">
                    <select class="fs-12" style="width: 100%;height: 30px;background-color: #FFFFFF;border: 0px;text-align: center;"
                            ng-model="pData.recvCity" ng-options="city.CITYID as city.CITYNAME for city in cascadePCZ.cities">
                    </select>
                </div>
                <div class="col col-26">
                    <select class="fs-12" style="width: 100%;height: 30px;background-color: #FFFFFF;border: 0px;text-align: center;"
                            ng-model="pData.recvArea" ng-options="zone.ZONEID as zone.ZONENAME for zone in cascadePCZ.zones"
                            >
                    </select>
                </div>
            </div>
        </div>
        <div class="item" style="min-height: 50px;height: 50px;padding-top: 0px;">
            <div class="row">
                <div class="col col-20" style="margin-top: auto;margin-bottom: auto;">
                    <span>详细地址：</span>
                </div>
                <div class="col">
                    <input type="text" style="width: 100%;" placeholder="请输入详细地址" ng-model="pData.storeAddress"/>
                </div>
            </div>
        </div>

        <div class="item" style="min-height: 50px;height: 50px;padding-top: 0px;">
            <div class="row">
                <div class="col col-20" style="margin-top: auto;margin-bottom: auto;">
                    <span>营业时间：</span>
                </div>
                <div class="col">
                    <input type="text" style="width: 100%;" placeholder="请输入营业时间" ng-model="pData.businessTime"/>
                </div>
            </div>
        </div>

        <div class="item" style="min-height: 50px;height: 50px;padding-top: 0px;">
            <div class="row">
                <div class="col col-20" style="margin-top: auto;margin-bottom: auto;">
                    <span>服务热线：</span>
                </div>
                <div class="col">
                    <input type="text" style="width: 100%;" placeholder="请输入服务热线" ng-model="pData.hotline"/>
                </div>
            </div>
        </div>
        <div class="item row">
                <div  class="col col-70" style="margin-left: 12px;margin-top: 5px;" >
                    <span >官方提示：可开通使用代金券</span>
                </div>
                <div  class="col col-30" style="text-align:right;" >
                   <label class="toggle toggle-calm" style="border: 0px;">
                        <input type="checkbox" ng-model="pData.choice"/>
                        <div class="track" >
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>

        <div class="item">
            <div class="row">
                <div class="col col-20" style="margin-top: auto;margin-bottom: auto;">
                    选择标签：
                </div>
                <div class="col" style="margin-top: auto;margin-bottom: auto;">
                    <ion-checkbox style="border: 0px;" ng-repeat="item in pData.tabData" ng-model="item.CHECKED">{{item.TAB_NAME}}</ion-checkbox>
                </div>
            </div>
        </div>
        
        
        <!--图集-->
        <div class="item">
            <div class="row">
                <div class="col col-20" style="margin-top: auto;margin-bottom: auto;">
                    店铺图集：
                </div>
                <div class="col" style="margin-top: auto;margin-bottom: auto;">
                    <div album  max="4" table="UU_STORE" pvalue="FRIENDCHATIMG" field="{{pData.storeId}}"
                         out-data="pData.imgPath" style="background-color: #FFFFFF;margin-top: 7px;padding:3px 0px 0px 1px;">
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="min-height: 50px;height: 50px;padding-top: 0px;margin-top: 10px;padding: 0px;">
            <div class="row" style="padding: 0px;">
                <div class="col col-33" style="padding: 0px;">
                    <button ng-class="pData.storeIntrClass" ng-click="store()">店铺介绍</button>
                </div>
                <div class="col col-33" style="padding: 0px;">
                    <button ng-class="pData.activityIntrClass" ng-click="activity()">活动介绍</button>
                </div>
                <div class="col col-33" style="padding: 0px;">
                    <button ng-class="pData.recruitmentInfoClass" ng-click="recruitment()">招聘信息</button>
                </div>
            </div>
        </div>

        <!--店铺介绍-->
        <div class="item" ng-if="pData.storeIntrState">
            <div class="row" style="padding:0px;">
                <div class="col">
                    <textarea ng-model="pData.storeIntr" style="width: 100%;min-height: 100px;overflow:hidden; resize:none;" placeholder="请输入店铺介绍"></textarea>
                </div>
            </div>
            <div class="row" style="padding:0px;">
                <div class="col" ng-if="pData.storeIntrImg">
                    <i ng-click="deleteImg('1')" class="icon ion-close-circled" 
                       style="color: red;position: relative;float: right;right: 0px;top: 0px;font-size:20px;"></i>
                    <img style="width:100%;height: auto;border-radius: 10px;" ng-src="{{pData.storeIntrImg|hostFilter:'ImageJSON'}}"/>
                </div>
            </div>
            <div ng-if="!pData.storeIntrImg">
                <!--选择图片-->
                <div  album  max="1" table="UU_STORE" pvalue="{{pData.storeId}}" field="STORE_INTR_IMG"
                      out-data="pData.storeIntrImg" style="background-color: #FFFFFF;margin-top: 7px;padding:0px 0px 0px 1px;"></div>
            </div>
        </div>

        <!--活动介绍-->
        <div class="item" ng-if="pData.activityIntrState">
            <div class="row" style="padding:0px;">
                <div class="col">
                    <textarea ng-model="pData.activityIntr" style="width: 100%;min-height: 100px;overflow:hidden; resize:none;" placeholder="请输入活动介绍"></textarea>
                </div>
            </div>
            <div class="row" style="padding:0px;" ng-if="pData.activityIntrImg">
                <div class="col">
                    <i ng-click="deleteImg('2')" class="icon ion-close-circled" 
                       style="color: red;position: relative;float: right;right: 0px;top: 0px;font-size:20px;">
                    </i>
                    <img style="width:100%;height: auto;border-radius: 10px;" ng-src="{{pData.activityIntrImg|hostFilter:'ImageJSON'}}"/>
                </div>
            </div>
            <div ng-if="!pData.activityIntrImg">
                <!--选择图片-->
                <div  album  max="1" table="UU_STORE" pvalue="{{pData.storeId}}" field="ACTIVITY_INTR_IMG"
                      out-data="pData.activityIntrImg" style="background-color: #FFFFFF;margin-top: 7px;padding:0px 0px 0px 1px;"></div>
            </div>
        </div>

        <!--招聘信息-->
        <div class="item" ng-if="pData.recruitmentInfoState">
            <div class="row" style="padding:0px;">
                <div class="col">
                    <textarea ng-model="pData.recruitmentInfo" style="width: 100%;min-height: 100px;overflow:hidden; resize:none;" placeholder="请输入招聘信息"></textarea>
                </div>
            </div>
            <div class="row" style="padding:0px;" ng-if="pData.recruitmentInfoImg">
                <div class="col">
                    <i ng-click="deleteImg('3')" class="icon ion-close-circled" 
                       style="color: red;position: relative;float: right;right: 0px;top: 0px;font-size:20px;">
                    </i>
                    <img style="width:100%;height: auto;border-radius: 10px;" ng-src="{{pData.recruitmentInfoImg|hostFilter:'ImageJSON'}}"/>
                </div>
            </div>
            <div ng-if="!pData.recruitmentInfoImg">
                <!--选择图片-->
                <div  album  max="1" table="UU_STORE" pvalue="{{pData.storeId}}" field="RECRUITMENT_INFO_IMG"
                      out-data="pData.recruitmentInfoImg" style="background-color: #FFFFFF;margin-top: 7px;padding:0px 0px 0px 1px;"></div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div footerpadding></div>
    </ion-content>
    <div class="bar bar-footer" style="display: inline;height: 50px;background-position:bottom;">
        <div ng-click="saveStore()" class="btn-push" style="height: 34px;margin: auto;text-align: center;
             font-size: 15px;padding: 7px;">申请开通店铺</div>
    </div>   
</ion-view>