<style>
    .img_border_radius{
        border-radius: 5px;
    }
    .text_padding_right{
        padding-right: 7px;
    }
    .order_status_m{
        margin-left: -4px;
    }
</style>


<!--我的订单-->
<!--<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="我的订单">
</div>-->

<ion-view>
    
    <ion-nav-buttons side="left">
        <div ng-click="back()"  class="public_comment_header_bar_padding_left">
            <i class="icon head_left_back"></i>
        </div>
    </ion-nav-buttons>

    <ion-nav-title>
        <div class="fs_4">
            我的订单
        </div>
    </ion-nav-title>
    
  <ion-content>
        <div class="list" item="false" aslist rcode="uoou.mine.myorder.query" 
             temp-url="app_plugins/uoou/mine/myorder/views/myorder_item.html" 
             list-events="pData.list_events" params="{{pData.params}}">
        </div>
      <div footerpadding></div>
  </ion-content>
</ion-view>
