<!--动态列表-->
<div class="list" style="padding-bottom:5px;">    
    <div class="item item-avatar" style="border: none;padding-top: 16px;padding-bottom: 0px; padding-left:67px;min-height: 67px;">

        <img ng-click="toMemberInfo('{{value.MEMBER_ID}}')" ng-src="{{value.WXHEADIMG|hostFilter}}"  style="width: 40px; height: 40px;max-width: 40px;max-height: 40px;border-radius: 3px;"/>
        <span class="fs-14" style="border: none;color: #333333;">{{value.MEMBERNAME}}</span>
        <p class="fs-10" style="border: none;color: #a5a5a5;">{{value.CREATETIME}}</p>
    </div>

    <div class="item item-body" style="border: none; padding: 0px 0px 0px 67px;">
        <span style="font-size: 14px;border: none;margin: 0px; margin:0px 9px 0px 0px;color: #666666;  ">{{value.CONTENT}}</span>
        <div class="row row-wrap" style="padding:10px 0px;">
            <div class="col col-33"  ng-repeat="item in value.CONTENT_IMGS" style="margin:5px 0px 0px 0px; padding: 2px;" >
                <img class="full-image"   ng-src="{{item.path|hostFilter:'ImageJSON'}}" img-zoom 
                     style=" width: 100%;height: 100%;">
            </div>
        </div>

        <div class="row fs-14" style="padding:0px 0px 10px 0px">
            <div class="col">
                <div style="float:right; margin-right:12px;color: #a5a5a5;">
                    <img ng-src="app_plugins/uoou/dynamic/friend_dynamic/img/3.9_3.png" style="width: 18px; height: 18px;vertical-align: bottom;">
                    <a class="subdued" ng-click="toPage('{{value.ID}}')">评论({{value.COMMENT_NUM}})</a>
                </div>
                <div style="float:right; margin-right:14px;">
                    <img ng-src="app_plugins/uoou/dynamic/friend_dynamic/img/3.9_4.png" style="width: 18px; height: 18px;vertical-align: sub;">
                    <a class="subdued" ng-click="upPoint('{{value.ID}}')">点赞({{value.POINT_NUM}})</a>
                </div>
            </div>
        </div>
    </div>
</div>