<!--我的接单 订单列表 ITEM-->
<div class="item-box  bg-2">
<div style="border-bottom:0px;" class="item item-thumbnail-left" ng-click="itemOnClick(value.ID)">
  <img ng-src="{{value.SPECIMAGES|hostFilter}}" class="rd-6" >
  <h3 style="color:#010101;" ng-bind="value.COMMODITYNAME"></h3>
<h4 class="fs-12 cl-02">订单编号:<i ng-bind="value.ORDERCODE"></i>  </h4>
  <table class="full-table fs-12 cl-02 pt-5">
    <colgroup style="width:60%;"></colgroup>
    <colgroup style="width:40%;"></colgroup>
    <tr class="full-w">
      <td colspan="2">
        <span>状态:</span>
        <span ng-bind="value.ORDERSTATE|enum:OrderStateEnum"></span>
      </td>
    </tr>
    <tr class="full-w">
      <td>
         <span>数量:</span><i ng-bind="value.SALENUMBER"></i>
      </td>
      <td class="pr-10" style="text-align:right;">
          订单总额<span class="cl-03">￥<i  ng-bind="value.TOTALPRICE|number:2"></i></span>
      </td>
    </tr>
    <tr class="full-w">
      <td colspan="2">
        <span >类型:</span>
        <span ng-bind="value.SHIPPING_METHOD|enum:OrderShippingMethodEnum"></span>
      </td>
    </tr>
  </table>
</div>
<div ng-if="value.ORDERSTATE==403">
  <div class="full-w CM bg-2" >
    <div class="diveline bg-6" style="width:90%;margin: 0px 15px 0px 16px;"></div>
  </div>
  <div class="fs-12 row" style="margin:-10px;">
      <div class="col cm">
       <a style="line-height:42px;" class="button icon-left ion-unlocked button-clear cl-05" ng-click="release('{{value.ID}}')">放货</a>
      </div>
      <div class="col cm">
       <!--  <a href="bdapp://map/place/search?query=海底捞&location=31.204055632862,121.41117785465&radius=1000&region=上海&src=触角科技|理性农业"></a> -->
        <!--  <a style="line-height:42px;" class="button icon-left ion-navigate ion-android-cancel button-clear cl-05" href="bdapp://map/place/search?query={{value.ADDRESS}}&location={{value.LONGITUD}},{{value.LATITUDE}}&src=触角科技|理性农业" >导航</a> -->
        <a style="line-height:42px;" class="button icon-left ion-navigate ion-android-cancel button-clear cl-05" href="bdapp://map/direction?origin=latlng:{{currentPoint.lat}},{{currentPoint.lng}}|name:我的位置&destination={{value.ADDRESS}}&mode=driving&src=触角科技|理性农业" >导航</a>
      </div>
  </div>
</div>
<div class="full-w CM bg-2" style="border-bottom:1px solid #ddd;"></div>

</div>
