<!--uoou 消息页面-->
<style>
    .uoou_message_head_img
    {
        width: 32px;
        vertical-align: middle;
        text-align: center;
    }
    
    .uoou_message_head_img_left
    {
        width: 25px;
        vertical-align: middle;
        
        
    }
    
    .uoou_message_head_middle_div_left_s
    {
        display: inline-block !important;
        height: 100% !important;
        width: 45% !important;
        border:2px solid rgb(205,249,249) !important;
         padding:0px;margin:0px !important;
        margin-right: -6px !important;
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        font-weight: 600 !important;
    }
    .uoou_message_head_middle_div_right_s
    {
        display: inline-block !important;
        height: 100% !important;
        width: 45% !important;
        border:2px solid rgb(205,249,249) !important;
        padding:0px !important;
        margin:0px !important;
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        font-weight: 600 !important;
    }
    
    
    .uoou_message_friend_img_count
    {
        color:rgb(185,185,185);width: 21px;
        height: 100%;
        text-align: center;
        background: #f71616;
        color: #FFFFFF;
        /* border: 10px; */
        border-radius: 50px;
        
    }
    
    .uoou_message_friend_middle_div_content
    {
        padding-left: 18px;color:rgb(185,185,185);width:93%;
    }
    
    
    /*公共头部样式*/
.public_comment_header_bar_padding_right{
    padding: 0px 12px;
    vertical-align: middle;
    line-height: 34px;
    font-size:16px;
}

.public_comment_header_bar_padding_left{
    padding: 0px 15px;
    vertical-align: middle;
    line-height: 44px;
    font-size: 34px;
}

.public_comment_header_bar_title
{
    text-align: center;
    font-size: 18px;
    color:#FFF;
    line-height: 44px;
}

    
    
</style>


<!--
<div class="bar bar-header bar-light row" style="line-height:34px;background:rgb(0,218,216);color:rgb(205,249,249);padding:2px 15px;">
    <div class="col-20" style="padding: 3px 0px;">
        <img class="uoou_message_head_img" style="heigh:35px; width: 35px;margin-top: -2px; border-radius: 50px;" src="app_plugins/uoou/message/img/uu.jpg" ng-click="details('icon_content')">
    </div>
    <div class="col-60 fs-17" style="text-align:center;padding: 3px 0px;line-height: 32px;">
        <div class="uoou_message_head_middle_div_left_s" ng-click="toService()">外快</div>
        <div class="uoou_message_head_middle_div_right_s" ng-click="toLife()">生活</div>
    </div>
    <div class="col-25 " style="text-align: center;padding: 3px 0px;">
        <img src="app_plugins/uoou/message/img/right_1.png" class="uoou_message_head_img_left" ng-click="toQrCode()" style="margin-right: 5px; height: 20px; width: 20px">
        <img ng-click="share()" src="app_plugins/uoou/message/img/right_2.png" class="uoou_message_head_img_left" style="height: 20px; width: 20px">
        
    </div>
   
</div>-->


    
   
    
<ion-view>
    
<!--    <div class="bar bar-header bar-light row" style="line-height:34px;background:rgb(0,218,216);color:rgb(205,249,249);padding:2px 15px;">-->
   <ion-nav-buttons side="left">
         <div  style="padding:2px 15px;">
             <img class="uoou_message_head_img" style="heigh:35px; width: 35px;margin-top: 1px; border-radius: 50px;" src="app_plugins/uoou/message/img/hhhhh.png" ng-click="details('icon_content')">
         </div>
    </ion-nav-buttons>
    
    <ion-nav-title>
       <div  style="text-align:center;padding: 3px 0px;line-height: 32px; " class="fs_17" >
            <div class="uoou_message_head_middle_div_left_s" ng-click="toService()">外快</div>
            <div class="uoou_message_head_middle_div_right_s" ng-click="toLife()">生活</div>
      </div>
    </ion-nav-title>
    
    <ion-nav-buttons side="right">
       <div  style="text-align: center;padding: 3px 7px;">
        <img src="app_plugins/uoou/message/img/right_1.png" class="uoou_message_head_img_left" ng-click="toQrCode()" style="margin-right: 5px; height: 20px; width: 20px">
        <img ng-click="share()" src="app_plugins/uoou/message/img/right_2.png" class="uoou_message_head_img_left" style="height: 20px; width: 20px">
        
      </div>
    </ion-nav-buttons>
   
<!--   </div>     -->
    
<!--    
        <ion-nav-buttons side="left">
           <div  style="line-height:34px;background:rgb(0,218,216);color:rgb(205,249,249);padding:2px 15px;">
             <img class="uoou_message_head_img" style="heigh:35px; width: 35px;margin-top: -2px; border-radius: 50px;" src="app_plugins/uoou/message/img/uu.jpg" ng-click="details('icon_content')">
           </div>
        </ion-nav-buttons>
    
    <ion-nav-title >
           <div style="width: 104%;  margin: 2px -5px;">
            <div  style="line-height:34px;background:rgb(0,218,216);color:rgb(205,249,249);padding:2px 0px;" >
              <div class="uoou_message_head_middle_div_left_s" ng-click="toService()">外快</div>
              <div class="uoou_message_head_middle_div_right_s" ng-click="toLife()">生活</div>
             </div>
            </div>
    </ion-nav-title>
    
    <ion-nav-buttons side="right">
        <div style="line-height:34px;background:rgb(0,218,216);color:rgb(205,249,249);padding:2px 15px;">
          <img src="app_plugins/uoou/message/img/right_1.png" class="uoou_message_head_img_left" ng-click="toQrCode()" style="margin-right: 5px; height: 20px; width: 20px">
          <img ng-click="share()" src="app_plugins/uoou/message/img/right_2.png" class="uoou_message_head_img_left" style="height: 20px; width: 20px">
        </div>
    </ion-nav-buttons>-->
    
    
    
    
    
    
    <ion-content delegate-handle="mainScroll">
        <div class="item-input-inset">
            <label class="item-input-wrapper" style="background: #FFFFFF;border-radius: 0px;">
                <i class="icon ion-ios-search placeholder-icon">
                </i>
                <input type="search" ng-model="pData.searchName" placeholder="Search">
            </label>
            <button class="button button-small button-stable activated" ng-click="toAddFridend()" style="width: 25%; border-radius: 0px;">
              添加好友
            </button>
        </div>
        <ion-item class="item-remove-animate item-icon-left row-wrap" style="height: 60px;padding: 1px 0px 0px 5px;" ng-click="toMessage('1','')">
            <img class="icon" src="app_plugins/uoou/message/img/3.3_5.png" style="max-width:45px;max-height:45px;border-radius: 0;top: 5px;height: 45px;line-height: 45px; ">
            <div class="row" style="padding: 0px;">
                <div style="width: 100%;">
                    <div class="row " style="padding: 0px;padding-top: 5px">
                        <div class="col" style="padding: 0px;">
                            <span class="fs-16 text-overflow-elipsis" style="padding-left: 18px;">系统消息</span>
                            <span class="fs-12" style="display: inline-block;float:right;color:rgb(185,185,185);" ng-bind="pData.systemTimer|datefmttoday">12:21</span>
                        </div>
                    </div>
                    <div class="row" style="padding: 0px;padding-top: 5px;">
                        <span class="fs-12"  style="padding-left: 18px;color:rgb(255,142,41);" ng-bind-html="pData.systemAlter">暂无新系统消息</span>
                    </div>
                </div>
                <div style="width: 5px;">
                    <img class="icon" style="width:15px;height:15px;margin-top:30px;right: 10px;position: absolute;left: 94%;" 
                     src="app_plugins/uoou/dynamic/img/member_43.png">
                </div>
            </div>
            <ion-option-button class="button-assertive">
            </ion-option-button>
        </ion-item>
        
        <ion-item class="item-remove-animate item-icon-left row-wrap" style="height: 60px;padding: 1px 0px 0px 5px;" ng-click="toMessage('2','')">
            <img class="icon" src="app_plugins/uoou/message/img/3.3_6.png" style="max-width:45px;max-height:45px;border-radius: 0;top: 5px;height: 45px;line-height: 45px; ">
            <div class="row" style="padding: 0px;">
                <div style="width: 100%;">
                    <div class="row " style="padding: 0px;padding-top: 5px">
                        <div class="col" style="padding: 0px;">
                            <span class="fs-16 text-overflow-elipsis" style="padding-left: 18px;">群消息</span>
                            <span ng-if="pData.groupNewMessageDateNumber!=0" class="fs-12" style="display: inline-block;float:right;color:rgb(185,185,185);" ng-bind="pData.groupMessageDate[pData.groupMessageDate.length-1].pushtime|datefmttoday">12:21</span>
                        </div>
                    </div>
                    <div class="row" style="padding: 0px;padding-top: 5px;">
                        <span class="fs-12"  style="padding-left: 18px;color:rgb(255,142,41);" ng-bind-html="pData.groupAlter">暂无新群消息</span>
                    </div>
                </div>
                <div style="width: 5px;">
                    <img class="icon" style="width:15px;height:15px;margin-top:31px;right: 10px;position: absolute;left: 94%;" 
                     src="app_plugins/uoou/dynamic/img/member_43.png">
                </div>
            </div>
            <ion-option-button class="button-assertive">
            </ion-option-button>
        </ion-item>
        
        <!--用户信息-->
        <ion-list  show-delete="shouldShowDelete">
            <ion-item ng-repeat="value in pData.messageDate" class="item-remove-animate item-icon-left row-wrap"  style="height: 60px;" >
<!--               {{value.message[0].memberid}}-->
                <img class="icon" ng-src="{{value.friendhead==''?'img/default_head.png':value.friendhead |hostFilter}}" 
                     style="max-width:45px;max-height:
                     45px;border-radius: 5px;
                     top: 6px;width:45px;
                     height: 45px;line-height: 45px;
                     margin-left: 5px; " 
                     ng-click="personDynamic(value.friendid)">
                <div class="row" style="padding: 3.5px 8px 10px 5px;" ng-click="toMessage('3',value.friendid)">
                    <div style="width: 100%;">
                        <div class="row " style="padding: 0px;">
                            <div class="col" style="padding: 0px;">
                                <span class="fs-16 text-overflow-elipsis" style="padding-left: 18px;" ng-bind="value.friendname"></span>
                                <span class="fs-12" style="display: inline-block;float:right;color:rgb(185,185,185);">{{ value.message[value.message.length-1].createtime |datefmttoday}}</span>
                            </div>
                        </div>
                        <div class="row" style="padding: 0px;padding-top: 5px;">
                            <span class="fs-12 text-overflow-elipsis uoou_message_friend_middle_div_content" ng-bind-html="value.message[value.message.length-1].content==''?'[图片]':value.message[value.message.length-1].content"></span>
                            <span class="fs-12 text-overflow-elipsis uoou_message_friend_img_count" ng-if="value.messagenum!='0'"  ng-bind="value.messagenum"></span>
                        </div>
                    </div>
                </div>
                <ion-option-button class="button-assertive"  ng-click="deleteFriendMessage('{{value.friendid}}')">
                    删除
                </ion-option-button>
            </ion-item>
        </ion-list>
       
    </ion-content>
</ion-view>