<!-- 联保贷款申请 -->
<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="联保贷款申请">
</div> 
<ion-view view-title="联保贷款申请">
  	<ion-content>
      <div ng-form name="loanForm"> <!--ng-from start-->
  		<label class="item item-input h-46">
            <span class="input-label-input">申请银行:</span>
            <span class="fs-12" ng-bind="pageData.applyBank"></span>
        </label>
      	<label class="item item-input h-46">
            <span class="input-label-input">申请人:</span>
            <span class="fs-12" ng-bind="pageData.appyName"></span>
        </label>
        <label class="item item-input h-46">
            <span class="input-label-input">申请金额:</span>
            <span class="fs-12" ng-bind="pageData.money|ptoy"></span>
        </label>
        <label class="item item-input h-46">
            <span class="input-label-input">身份证号:</span>
            <span class="fs-12" ng-bind="pageData.code"></span>
        </label>
        <label class="item item-input h-46">
            <span class="input-label-input">证件有效期:</span>
            <span class="fs-12" ng-bind="pageData.expiresDate"></span>
        </label>
        <label class="item item-input h-46">
            <span class="input-label-input">邮编:</span>
            <span class="fs-12" ng-bind="pageData.zipCode"></span>
        </label>
        <label class="item item-input h-46">
            <span class="input-label-input">居住地:</span>
            <span class="fs-12" ng-bind="pageData.address"></span>
        </label>
        <label class="item item-input h-46">
            <span class="input-label-input">固定电话:</span>
            <span class="fs-12" ng-bind="pageData.telephone"></span>
        </label>
        <label class="item item-input h-46">
            <span class="input-label-input">手机号:</span>
            <span class="fs-12" ng-bind="pageData.phone"></span>
        </label>
      </div><!--ng-from end-->
      <div class="bg-2 am-content pt-13 pb-13">
            <div><h3 class="cl-03 content-title" style="margin-bottom:0px;">联保成员</h3></div>
      </div>
    	<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
        	<ion-item ng-repeat="item in pageData.loanMembername" class="item-remove-animate item h-46" style="padding: 4px 10px 0 10px;">
          		<span class="fs-12" ng-bind="item.MEMBERNAME"></span>
        		<span style="float: right;" ng-bind="item.LPG_STATUS|enum:pageData.lpgStatusEnum"> </span>
        	</ion-item>
        </ion-list>

		<div class="row" style="padding:0px;" ng-if="pageData.lpgStatus==false">
        <div class="col" style="margin:0px;text-align: right;">
          	<a tips-modal menucode="groupLoanProtocol" title="我同意联保贷款申请协议" ></a>
          	<label class="toggle toggle-assertive">
          		<input ng-model="pageData.agree_type" type="checkbox">
            		<div class="track">
              			<div class="handle"></div>
            		</div>
          	</label>
        </div>
      </div>

    <div class="row" style="height:100px;line-height:100px;">
      <div class="col">&nbsp;<a href="javaScript:void(0);" style="display:none;">&nbsp;</a></div>
    </div>
    <div class="row">
      <div class="col">&nbsp;<a href="javaScript:void(0);" style="display:none;">&nbsp;</a></div>
    </div>



  </ion-content>
  	<div class="bar bar-footer ios-margin-button" ng-if="pageData.lpgStatus==false">
		    <div class="col" style="width: 40%;">
            <button class="button button_with  myinfoborder-radius h-43 agriculture_project_title" ng-click="agree()">同意
            </button >
        </div>
        <div class="col" style="width: 40%;">
            <button class="button button_with  myinfoborder-radius h-43 agriculture_project_title" ng-click="noAgree()">不同意
            </button>
        </div>
    </div>
</ion-view>