<!-- 农技推广 -->
<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="科协农技下乡科普专栏">
</div>
<ion-view view-title="科协农技下乡科普专栏">
    <ion-content>
        <label class="item item-input item-select">
            <div class="input-label-input">选择分类:</div>
            <select ng-model="pageData.classId"  ng-options="m.ID as m.TITLE for m in pageData.typedata">
                <option value="">请选择</option>
            </select>
        </label>

        <div class="row" style="background: #FFFFFF;">
            <div class="col">
                <button ng-click="query()" class="button button_with  myinfoborder-radius h-43 agriculture_project_title">查询</button>
            </div>
        </div>
        <div style="padding:10px 0px 0px 0px;margin:0px;" item="false" aslist rcode="lxny.cooperative.agrlExpanded.agrlExpanded" temp-url="app_plugins/cooperative/agrl_expanded/views/agrl_expanded_list_page.html" list-events="pageData.listEvents" params="{{pageData.params}}"></div>
        <div footerpadding></div>
    </ion-content>
</ion-view>