<div class="bar bar-heade" style="background:transparent;height: 52px;color: #FFFFFF;padding: 0px 0px 0px 0px; ">
    <div class="row" style="width:100%;padding:0px;padding-top:5px;padding-left:10px;">
        <div style="width:16%;text-align:left;" ng-click="back()">
            <img src="img/techan/techan_01.png" style="width: 20px;height: auto;">
        </div>
        <div class="cl-10"style="width:68%;text-align: center;">
            <span class="fs-16" ng-bind="pageData.title"></span>
        </div>
        <div style="width:8%;text-align:center;" ng-click="collectionScenicSpot()">
            <img src="img/techan/techan_06.png" style="width: 20px;height: auto;">
        </div>
        <div style="width:8%;text-align:center;" ng-click="share()">
            <img src="img/techan/techan_07.png" style="width: 20px;height: auto;">
        </div>
    </div>
</div>
<ion-content style="padding:0px;" delegate-handle="mainScroll">
    <!-- 主图 -->
    <div class="row" style="height: 239px;padding: 0px;" ng-click="imagePicker()">
        <div class="col" style="padding: 0px;height: 239px;">
            <img ng-src="{{pageData.mainimage | hostFilter:'ImageJSON'}}" style="width: 100%;height: 100%;" />
        </div>
        
    </div>
    <!-- 图集 -->
    <div style="text-align: right;height:34px;margin-top: -34px;" ng-click="imagePicker()">
        <img src="img/atlas.png" style="width:34px;height: 34px;margin-right: 23px;margin-top: -12px;"/>
        <div style="position: relative;margin-top: -23px;margin-right: 34px;">
            <span class="fs-12" style="color: #ffffff;"><span  ng-bind="pageData.storeImageNum"></span></span>
        </div>
    </div>
    <div class="list">
        <!-- 地点 -->
        <a class="item item-avatar item-icon-right" style="height: 39px;min-height: 39px;padding-top:8px;padding-left: 47px;" ng-click="map()" >
            <img src="img/scenicspot/scenicspot_18.png" style="width:20px;height:20px;top: 7px;left: 13px;">
            <span ng-bind="pageData.adderssDetlies" style="font-size:13px;color:#333333;"></span>
            <img class="icon" src="img/member/member_43.png" style="width:15px;height:15px;margin-top: 11px;"/>
        </a>
        <!-- 评价 -->
        <a class="item item-avatar" style="height: 39px;min-height: 39px;padding-top:8px;padding-left: 47px;" ng-click="comment()" >
            <img src="img/scenicspot/scenicspot_21.png" style="width:20px;height:20px;top: 7px;left: 13px;">
            <div class="row " style="padding: 0px;">
                <div class="fs-13 cl-19" as-start model="s" value="{{pageData.avgscore | number:0}}"></div>
                <div style="margin-top: 2px;padding-left: 9px;" class="fs-13">{{pageData.avgscore}}分</div>
            </div>
            <span style="font-size:13px;color:#666666;right: 31px;position: absolute;top:0;top: 0;margin-top: 8px;">{{pageData.commentNum}}条评价</span>
            <img class="icon item-image-right" src="img/member/member_43.png" style="margin-top: 11px;"/>
        </a>
    </div>
    <!-- 呼旅点评 -->
    <div class="list" style="margin-top: 6px;">
        <div class="item item-avatar" style="height: 39px;min-height: 39px;padding-top:8px;padding-left: 47px;">
            <img src="img/scenicspot/scenicspot_27.png" style="width:20px;height:20px;top: 7px;left: 13px;">
            <span style="font-size:13px;color:#333333;">
                呼旅·点评
            </span>
        </div>
        <div class="row bg-2" style="border-bottom: 1px solid #ddd;padding-top:8px;padding-left: 16px;padding-right: 16px;min-height: 100px;">
            <div ng-bind-html="pageData.comment|imgFmt" style="white-space: initial;"></div>
        </div>
    </div>
    <!-- 切换锚点 -->
    <div class="row" style="padding:0px;margin-top: 6px;">
        <div class="row {{pageData.ticketInfoClass}}" ng-click="getTicketInfo()">
            <div class="fs-13" style="margin: auto;width: 100%;text-align: center;line-height: 2.5;">代金券</div>
        </div>
        <div class="row {{pageData.scenicSpotIntrClass}}" ng-click="getScenicSpotIntr()" style="margin: 0px;padding:0px;">
            <div class="fs-13" style="margin: auto;width: 100%;text-align: center;line-height: 2.5;">饭店介绍</div>
        </div>
        <div class="row {{pageData.nearRecClass}}" ng-click="getnearRec()" style="margin: 0px;padding:0px;">
            <div class="fs-13" style="margin: auto;width: 100%;text-align: center;line-height: 2.5;">周边推荐</div>
        </div>
    </div>

    <!-- 代金券 -->
    <div id="vouchers"  class="item item-thumbnail-left" ng-repeat="item in pageData.commodityData" style="height: 62px;padding: 0px 0px 0px 130px;">
        <img style="max-width: 120px;max-height: 45px;top:10px;left:5px;"  ng-src="{{item.LISTIMAGE | hostFilter:'ImageJSON'}}">
        <div class="row" style="padding: 10px 0px 0px 0px;">
            <div style="width:70%;padding: 0px;">
                <div class="text-overflow-elipsis" style="text-align: left;margin-top: -2px;">
                    <span class="fs-12 text-overflow-elipsis" ng-bind="item.NAME"></span>
                </div>
                <div class="text-overflow-elipsis" style="text-align: left;margin-top: -5px;"
                     ng-if="item.CAN_STACK=='1'">
                    <span class="fs-12 text-overflow-elipsis" style="color:#9A9A9A">可叠加</span>
                </div>
                <div class="text-overflow-elipsis" style="text-align: left;margin-top: -5px;" ng-if="item.VALIDITY_DATE_END">
                    <span class="fs-12 text-overflow-elipsis" style="color:#9A9A9A">有效期
                        <span ng-bind="item.VALIDITY_DATE_END"></span>
                    </span>
                </div>
            </div>

            <div class="col" style="padding: 0px 10px 0px 0px;text-align: right;">
                <div class="col fs-16" style="color:#FF0000;text-align: right;padding: 0px;">
                    ￥<span ng-bind="item.PRICE|number:2"></span>
                </div>

                <!-- 在线预订 -->
                <div class="col" style="text-align: right;padding: 0px;" ng-click="formatBuyNow(item.ID)">
                    <div class="item-label-btn-rg" style="float: right;">在线预订</div>
                </div>
            </div>
        </div>
            
    </div>
    <!-- 饭店介绍 -->
    <div id="restaurantIntr" class="row bg-7" style="padding: 14px 0px 12px 18px;">
        <span class="pl-7 fs-14 cl-17 microsoft_yahei">饭店介绍</span>
    </div>
    <div class="bg-7" style="padding: 0 18px 12px 18px;">
        <span ng-bind-html="pageData.scenicSpotIntrData[0].CONTENT|imgFmt "></span>
    </div>

    <!-- 周边推荐 -->
    <div id="nearRec" class="row bg-7" style="padding: 14px 0px 12px 18px;">
        <span class="pl-7 fs-14 cl-17 microsoft_yahei">周边推荐</span>
    </div>
    <div recommend-list option-params="{{latLng}}"></div>
    <div footerpadding></div>
</ion-content>
<!-- 回到顶部，联系客服 -->
<div class="avd_banner disable-user-behavior" id="avd_top_div" suspend-box="">
    <a href="tel:18011111111" class="avd_banner_a_01"></a><a ng-click="scrollTop()" class="avd_banner_a_02"></a>
</div>