<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
	 right-css="triph_topLine_quer"
	 right-click-fun="toSearch()"
     title="{{pageData.title}}">
</div>
<ion-view>
	<ion-content delegate-handle="mainScroll">
		<!-- 顶部 -->
		<div class="row list-row" style="margin-bottom: 5px;padding: 0px;">
			<div class="col list-col" style="padding-top:4px;">
				<ctl-select-directive style-type="2" ng-model="pageData.noopsyche" click-select="noopsySelect"
									  defaut-lable="智能排序" select-data="{{pageData.noopsycheData}}">
				</ctl-select-directive>
			</div>
			<div class="col list-col" style="padding-top:4px;">
				<div class="col" style="padding: 0px;">
					<ctl-select-directive style-type="1" ng-model="pageData.wyq" click-select="wyqSelect"
										  defaut-lable="我要去" select-data="{{pageData.wyqData}}">
					</ctl-select-directive>
				</div>
			</div>
			<div class="col list-col" style="border:0px;padding-top:4px;">
				<div class="col" style="padding: 0px;">
					<ctl-select-directive style-type="2" ng-model="pageData.wyc" click-select="wycSelect"
										  defaut-lable="我要吃" select-data="{{pageData.wycData}}">
					</ctl-select-directive>
				</div>
			</div>
		</div>
		<!-- 列表 -->
		<div class="list" item="false" aslist 
			rcode="triph.commity.getStoreInfo" 
			temp-url="app_plugins/store/restaurant/views/restaurant_item.html" list-events="pageData.List_Events" 
			params="{{pageData.SqlParams}}">
		</div>
        <div footerpadding></div>
	</ion-content>
	<div class="avd_banner disable-user-behavior" id="avd_top_div" suspend-box="">
	    <a href="tel:18011111111" class="avd_banner_a_01"></a><a ng-click="scrollTop()" class="avd_banner_a_02"></a>
	</div>
</ion-view>