<style>
    .member_role_btn{
        border-radius: 50%;
        border: 1px solid #ff6600;
        color: #ff6600;
        background-color: #FFFFFF;
        width: 28px;
        height: 28px;
        padding-top: 0px;
    }
</style>

<!--
<div class="bar bar-heade bar-light"
     nav-bar
     left-css="head_left_back"
     title-css="header_title fs_4"
     title="{{pData.groupName}}">
</div>-->

<ion-view>
    
    
    <ion-nav-buttons side="left">
        <div  ng-click="back()"  class="public_comment_header_bar_padding_left">
            <i class="icon head_left_back"></i>
        </div>
    </ion-nav-buttons>
    
	<ion-nav-title class="fs_4">
            {{pData.groupName}}
       </ion-nav-title>
	
    
    
    <ion-content keyboard-attach style="background-color: rgb(236,239,239);">
        <div class="item">
            <span class="fs-13">群名称：</span>
            <span class="fs-13" ng-bind="pData.groupName"></span>
        </div>
        <div class="item">
            <span class="fs-13">群号：</span>
            <span class="fs-13" ng-bind="pData.groupNo"></span>
        </div>
        <div class="item" style="margin-top: 5px;">
            <span class="fs-13">群成员</span>
            (<span class="fs-13" ng-bind="pData.groupMemberData.length + '人'"></span>)
        </div>
        <div class="item">
            <div class="row row-wrap">
                <div class="col-20" ng-repeat="item in pData.groupMemberData" style="text-align: center;">
                    <img ng-src="{{item.WXHEADIMG|hostFilter}}" style="width:50px;height: 50px;border-radius: 50%;"/>
                    <br/>
                    <span class="fs-12" ng-bind="item.MEMBERNAME"></span>
                </div>
                <div class="col-20" style="text-align: center;" ng-click="inviteGroupMember()">
                    <img src="app_plugins/uoou/contacts/group_details/img/add.png" style="width:50px;height: 50px;border-radius: 50%;"/>
                    <br/>
                    <span class="fs-12" style="color:#2ad4d4;">邀请好友</span>
                </div>
                <div class="col-20" style="text-align: center;" ng-click="deleteGroupMember()" ng-if="pData.groupMemberId==pData.memberId">
                    <img src="app_plugins/uoou/contacts/group_details/img/delete.png" style="width:50px;height: 50px;border-radius: 50%;"/>
                    <br/>
                    <span class="fs-12" style="color:#2ad4d4;">移除成员</span>
                </div>
            </div>
        </div>
    </ion-content>
    <div style="text-align: center;position: absolute;bottom: 0%;left: 3%;right: 3%;">
<!--        <button ng-if="pData.groupMemberId==pData.memberId" class="button" style="width:100%;height: 48px;border-radius: 5px;background-color: #ff0000;border: 0px;" ng-click="deleteGroup()">
            <span style="color:#ffffff;font-size: 16px;">删除并退出</span>
        </button>-->
<!--        <button ng-if="pData.groupMemberId!=pData.memberId" class="button" style="width: 100%;height: 48px;border-radius: 5px;background-color: #ff0000;border: 0px;" ng-click="quitGroup()">
            <span style="color:#ffffff;font-size: 16px;">删除并退出</span>
        </button>-->
    </div>
</ion-view>
<div class="bar bar-footer" style="display: inline;height: 50px;background-color: transparent;background-position:bottom;" >
    
    <div class="row" style="padding: 0px;">
        <div  style="padding-top: 3px;text-align: center;margin: auto;width: 99%;" >
            <div ng-if="pData.groupMemberId==pData.memberId" ng-click="deleteGroup()" class="btn-push" style="width: 100%;height: 42px;border-radius: 5px;background-color: #ff0000;border: 0px;color:#ffffff;font-size: 16px;line-height: 2.5;">删除并退出
            </div>
            <div  ng-if="pData.groupMemberId!=pData.memberId" ng-click="quitGroup()" style="width: 100%;height: 42px;border-radius: 5px;background-color: #ff0000;border: 0px;color:#ffffff;font-size: 16px;line-height: 2.5;">删除并退出
            </div>
        </div>
    </div>   
</div>

<!--本页弹出内容 start-->
<script id="commonModalTemplate.html" type="text/ng-template">
<ion-modal-view style="background-color: rgba(255,255,255,0.0);border-top: 1px solid #ddd;padding-bottom: 60px;">
    <div class="modal">
        <div class="bar bar-heade" style="padding:0px;border:0px;">
            <div class="row">
                <div class="col" style="text-align:left;">
                    <span style="font-size:13px;color:#333333;" ng-click="closeModal()">取消</span>
                </div>
                <div class="col CM">
                    <span style="font-size:13px;color:#333333;">邀请好友</span>
                </div>
                <div class="col" style="text-align:right;">
                    <span style="font-size:13px;color:#333333;" ng-click="inviteGroupMemberSuccess()">完成</span>
                </div>
            </div>
        </div>
        <ion-content style="margin-top:45px;padding-top:5px;">
            <ion-item class="item-remove-animate item-icon-left" style="min-height: 59px;padding-top: 5px"  ng-repeat="value in pData.friendData">
                <img ng-if="value.WXHEADIMG == ''" class="icon" 
                     src="app_plugins/uoou/contacts/img/default_head.png" style="max-width:36px;max-height:36px;border-radius: 5px;top: 9px;height: 45px;line-height: 45px; ">
                <img ng-if="value.WXHEADIMG" class="icon" 
                     ng-src="{{value.WXHEADIMG|hostFilter}}" style="max-width:36px;max-height:36px;border-radius: 5px;top: 11px;height: 45px;line-height: 45px; ">
                <div class="row" style="padding: 0px;height: 48px;">
                    <div class="col">
                        <div class="row " style="padding:-3px;">
                            <div class="col col-75" style="padding:0px;white-space: normal;">
                                <span class="fs-15 text-overflow-elipsis" style="font-family: Microsoft YaHei;padding-left:0px ;color:#333333;" ng-bind="value.MEMBERNAME" ></span>&nbsp;
                                <button  class="member_role_btn" ng-if="value.MEMBER_TYPE == '1'" style="padding-left: 6px;">普</button>
                                <button ng-if="value.MEMBER_TYPE == '2'"  style="padding-left: 6px;" class="member_role_btn">中</button>
                                <button ng-if="value.MEMBER_TYPE == '3'" style="padding-left: 6px;" class="member_role_btn">超</button>
                                <button ng-if="value.MEMBER_TYPE == '4'"  style="padding-left: 6px;" class="member_role_btn">皇</button>
                                <span class="fs-12" ng-if="value.REMARK_NAME" style="font-family: Microsoft YaHei;color:#a0a0a0;">（{{value.REMARK_NAME}}）</span>
                            </div>
                            <div class="col col-25" style="padding: 0px 5px 0px 0px;text-align: right;">
                                <ion-checkbox style="border: 0px;position: absolute;top: 15px;height:30px;right:5px;padding-left: 30px;" ng-model="value.CHECKED"></ion-checkbox>
                            </div>
                        </div>
                    </div>
                    </div>
            </ion-item>
        </ion-content>
</ion-modal-view>
</script><!--本页弹出内容 end-->
<script id="commonModalTemplate1.html" type="text/ng-template">
<ion-modal-view style="background-color: rgba(255,255,255,0.0);border-top: 1px solid #ddd;padding-bottom: 60px;">
    <div class="modal">
        <div class="bar bar-heade" style="padding:0px;border:0px;">
            <div class="row">
                <div class="col" style="text-align:left;">
                    <span style="font-size:13px;color:#333333;" ng-click="closeModal()">取消</span>
                </div>
                <div class="col CM">
                    <span style="font-size:13px;color:#333333;">移除成员</span>
                </div>
                <div class="col" style="text-align:right;">
                    <span style="font-size:13px;color:#333333;" ng-click="deleteGroupMemberSuccess()">完成</span>
                </div>
            </div>  
        </div>
        <ion-content style="margin-top:45px;">
            <ion-item class="item-remove-animate item-icon-left" style="min-height: 59px;padding-top: 5px;margin-top:5px;" ng-if="value.GROUP_MEMBER_ID != pData.memberId" ng-repeat="value in pData.groupMemberData">
                <img ng-if="value.WXHEADIMG == ''" class="icon" 
                     src="app_plugins/uoou/contacts/img/default_head.png" style="max-width:36px;max-height:36px;border-radius: 5px;top: 9px;height: 45px;line-height: 45px; ">
                <img ng-if="value.WXHEADIMG" class="icon" 
                     ng-src="{{value.WXHEADIMG|hostFilter}}" style="max-width:36px;max-height:36px;border-radius: 5px;top: 11px;height: 45px;line-height: 45px; ">
                <div class="row" style="padding: 0px;height: 48px;" >
                    <div class="col">
                        <div class="row " style="padding:-3px;">
                            <div class="col col-75" style="padding:0px;white-space: normal;">
                                <span class="fs-15 text-overflow-elipsis" style="font-family: Microsoft YaHei;padding-left:0px ;color:#333333;" ng-bind="value.MEMBERNAME" ></span>&nbsp;
                                <button ng-if="value.MEMBER_TYPE == '1'" style="padding-left: 6px;" class="member_role_btn">普</button>
                                <button ng-if="value.MEMBER_TYPE == '2'" style="padding-left: 6px;" class="member_role_btn">中</button>
                                <button ng-if="value.MEMBER_TYPE == '3'" style="padding-left: 6px;" class="member_role_btn">超</button>
                                <button ng-if="value.MEMBER_TYPE == '4'" style="padding-left: 6px;" class="member_role_btn">皇</button>
                                <span class="fs-12" ng-if="value.REMARK_NAME" style="font-family: Microsoft YaHei;color:#a0a0a0;">（{{value.REMARK_NAME}}）</span>
                            </div>
                            <div class="col col-25" style="padding: 0px 5px 0px 0px;text-align: right;">
                                <ion-checkbox style="border: 0px;position: absolute;top: 15px;height:30px;right:5px;padding-left: 30px;" ng-model="value.CHECKED"></ion-checkbox>
                            </div>
                        </div>
                    </div>
                    </div>
            </ion-item>
            </div>
        </ion-content>
</ion-modal-view>
</script><!--本页弹出内容 end-->
