<div style="padding-bottom: 25px;padding-top: 10px;" class="item item-thumbnail-left" ng-click="open('{{value.ID}}','{{value.STATUS}}','{{value.U_NAME}}','{{value.REMARKS}}','{{value.WXHEADIMG}}')">
    <img src="frame/member/red_parket/img/a2i.png" style="max-width: 60px;top:15px;">
    <div class="col" style="padding:0px;margin: 0px;display: block;">
      <h2 style="padding:0px;margin: 0px;">{{value.NAME}} <span style="float: right;color:#2CC16A" ng-show="value.STATUS=='2'">{{value.AMOUNT|ptoy}}元</span></h2>
      <p>发送人{{value.U_NAME}}</p>
      <p>{{value.REMARKS}}</p>
      <p>{{value.TIME}}<span style="float: right;color:#2CC16A" ng-bind="value.STATUS=='1'?'未拆':'已拆'"></span></p>
    </div>
</div>
