<div style="padding-bottom: 5px;padding-top: 10px;" class="item item-thumbnail-left" >
    <img src="frame/member/red_parket/img/a2i.png" style="max-width: 60px;top:15px;">
    <div class="col" style="padding:0px;margin: 0px;display: block;">
       
      <h2 style="padding:0px;margin: 0px;">{{value.NAME}} <span style="float: right;color:#2CC16A">{{value.AMOUNT|ptoy}}元</span></h2>
      <p>接收人{{value.U_NAME}}</p>
      <p>{{value.REMARKS}}</p>
      <p>{{value.TIME}}<span style="float: right;color:#2CC16A">已发</span></p>
    </div>
</div>
